<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>众筹后台</title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.4.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../resource/css/settlements.css"
            th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" src="../../resource/js/ajaxfileupload.js"
            th:src="@{/resource/js/ajaxfileupload.js}"></script>

</head>

<body onload="firstLoad()">
<form method="post" action="saveShare" id="form1" th:object="${backendShareModel}">
    <input type="hidden" id="shareType" name="shareType" th:value="*{shareType}"/>
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block" style="display: block;">
            <div class="h">
      <span class="icon-sprite icon-magnifier">
      </span>
                <h3>众筹新增后台</h3>
            </div>
            <div class="cnt-wp" style="padding: 35px 10px 10px;">
                <div id="makeTab" class="cnt om-tabs om-widget om-widget-content om-corner-all" style="width: auto; height: auto;">




                    <!-- 以下是页卡-->
                    <div class="om-tabs-headers om-helper-reset om-helper-clearfix om-widget-header om-corner-all header-no-border" style="height: 28px;">
                        <ul style="height: 28px; line-height: 28px;">
                            <span class="left-placeholder">

                            </span>
                            <li class="om-state-default om-corner-top om-tabs-activated om-state-active">
                                <span class="lileft"></span>
                                <span class="lileft"></span>
                                <a href="#tab1" onclick="changePage(1)" tabid="om-tabs-7c1f-1" class="om-tabs-inner" style="width: auto; height: 27px;">
                                    咨询
                                </a>
                                <span class="liright"></span>
                            </li>
                            <li class="om-state-default om-corner-top">
                                <span class="lileft"></span>
                                <span class="lileft"></span>
                                <a href="#tab0" onclick="changePage(2)" tabid="om-tabs-7c1f-0" class="om-tabs-inner" style="width: auto; height: 27px;">
                                    团购
                                </a>
                                <span class="liright"></span>
                            </li>
                            <span class="right-placeholder"></span>
                            <li class="om-state-default om-corner-top">
                                <span class="lileft"></span>
                                <a href="#tab1" onclick="changePage(3)" class="om-tabs-inner" style="width: auto; height: 27px;">
                                    众筹项目
                                </a>
                                <span class="liright"></span>
                            </li>
                            <span class="right-placeholder"></span>
                        </ul>
                    </div>
                    <!-- 页卡结束-->
                    <!-- 可见等级结束-->

                    <!-- 以下设置表单-->
                    <div class="om-tabs-panels om-widget-content om-corner-bottom">
                        <div class="om-widget om-panel">
                            <div id="tab0001" class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                                <div class="division">
                                    <div></div>
                                    <div></div>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <th>标题:</th>
                                                    <td style="border-top: 1px solid #ddd;">
                                                        <span id="sharezx"></span>
                                                <input name="shareTitle" type="text" id="shareTitle" th:text="*{shareTitle}" class="input-normal" placeholder=""/></td>

                                            </tr>
                                        <p style="clean:both;"></p>

                                        <tr>
                                            <th>封面:</th>
                                            <td>

                                                <div id="uploadpicCover" style="width: 80px; height: 80px; border: 1px solid #ccc; float: left; background: #efefef; line-height: 80px; text-align: center; color: #ccc;">
                                                    <span>未上传</span>
                                                    <img style="display:none" id="share_img" th:src="*{shareImg}" width="80px" height="80px"/>
                                                </div>

                                                <div style="margin-left: 10px; float: left; line-height: 80px;padding-top: 30px;">
                                                    <a id="uploadpic" class="btn-lit jUploader-button" href="#" style="cursor: pointer; position: relative; overflow: hidden; direction: ltr;">
                                                        <span style="color: #c1b3a9">
                                                                上传
                                                        </span>
                                                        <input type="file" onchange="uploadImage()"  name="shareImage" id="shareImage" style="position: absolute; right: 0px; top: 0px; margin: 0px; opacity: 0; padding: 0px; font-family: Arial; font-size: 118px; vertical-align: baseline; cursor: pointer;"/>
                                                    </a>
                                                </div>
                                                <input name="txtReplyUrl1" type="hidden" id="txtReplyUrl1" value="/resource/images/wechat/mall_cat_def.png"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>内容:</th>
                                            <td><textarea id="content" th:text="*{content}" name="content" class="input-normal" style=" width: 393px; height: 76px;"></textarea>
                                            </td>
                                        </tr>

                                            <tr>
                                                <th>全局配置:</th>
                                                <td>
                                                    <input th:text="*{overallTransmit}" name="overallTransmit" type="text" id="overallTransmit" class="input-normal" placeholder="" style="text-align:center;"/>
                                                    <span style=" vertical-align: text-top;">转发积分</span>
                                                    <input th:text="*{overallTotal}" name="overallTotal" type="text" id="overallTotal" class="input-normal" placeholder="" style="text-align:center;"/>
                                                    <span style=" vertical-align: text-top;">总积分</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>单独配置:</th>
                                                <td>
                                                    <input th:text="*{aloneTransmit}" name="aloneTransmit" type="text" id="aloneTransmit" class="input-normal" placeholder="" style="text-align:center;"/>
                                                    <span style=" vertical-align: text-top;">转发积分</span>
                                                    <input th:text="*{aloneTotal}" name="aloneTotal" type="text" id="aloneTotal" class="input-normal" placeholder="" style="text-align:center;"/>
                                                    <span style=" vertical-align: text-top;">总积分</span>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!--是否在资讯栏目发一篇介绍范围结束-->

                <!--以下是按钮-->
                <div style="text-align: center; margin-top:12px" >
                    <a class="btn-lit" href="javascript:submitForm();" style=" margin-right:10px;">
        <span>
        保存到草稿箱
        </span>
                    </a>
                    <a class="btn-lit" href="javascript:submitForm1();">
        <span>
        直接发布
        </span>
                    </a>
                </div>
                <!--按钮结束-->

            </div>
        </div>
    </div>
</form>


<div class="blank10"></div>
<script type="text/javascript" th:inline="javascript">
    //封面图片上传
    function uploadImage() {
        $.ajaxFileUpload({
            url: 'UploadImg',
            secureuri: false,
            fileElementId: 'shareImage',
            dataType: 'json',
            data: null,
            success: function(resultModel) {
                if(resultModel.code==1){
                    $.jBox("上传成功");
                    $("#share_img").attr("src",resultModel.message);
                    $("#share_img").show();
                    $("#uploadpicCover").children("span").hide();
                }
            },
            error: function(data, status, e) {

                $.jBox("上传失败，请检查网络后重试"+e);
            }
        });
    }


    //提交资讯
    function submitForm1(obj) {
        var shareTitle = $("#shareTitle").val();
        var content = $("#content").val();
        var overallTransmit = $("#overallTransmit").val();
        var overallTotal = $("#overallTotal").val();
        var aloneTransmit = $("#aloneTransmit").val();
        var aloneTotal = $("#aloneTotal").val();

        if (shareTitle.length == 0) {
            $.jBox.tip("请输入文章标题");
            return;
        }
        if (content.length==0) {
            $.jBox.tip("请输入文章内容");
            return;
        }
        if (overallTransmit.length == 0) {
            $.jBox.tip("请输入全局配置的转发积分");
            return;
        }
        if (overallTotal.length==0) {
            $.jBox.tip("请输入全局配置的总积分");
            return;
        }
        if (aloneTransmit.length == 0) {
            $.jBox.tip("请输入单独配置的转发积分");
            return;
        }
        if (aloneTotal.length==0) {
            $.jBox.tip("请输入单独配置的总积分");
            return;
        }

        $.jBox.confirm("友情提示", "即将保存内容，确定继续吗？",function(v,h,f){
            if (v == 'ok')
                $("#form1").submit();
            else if (v == 'cancel')
                return;

        });

    }
    //提交团购
    function submitForm2(obj) {
//        var companyAddr1 = $("#companyAddr1").val();
//        var companyName1 = $("#companyName1").val();
//        var companyTel1 = $("#companyTel1").val();
//        if (companyAddr1 == "" || companyAddr1 == null) {
//            $.jBox.tip("请填写公司名称");
//            return;
//        }
//        if (companyName1 == null || companyName1 == "") {
//            $.jBox.tip("请填写注册电话");
//            return;
//        }
//        if (companyTel1 == null || companyTel1 == "") {
//            $.jBox.tip("请填写注册地址");
//            return;
//        }
       /* $.jBox.confirm("友情提示", "即将保存内容，确定继续吗？",function(v,h,f){
            if (v == 'ok')
                $("#form2").submit();
            else if (v == 'cancel')
                return;

        });*/


    }
    //提交众筹
    function submitForm3(obj) {
//        var shipName = $("#shipName").val();
//        var shipMobile = $("#shipMobile").val();
//        var shipAddr = $("#shipAddr").val();
//        if (shipName == "" || shipName == null) {
//            $.jBox.tip("请填写联系人");
//            return;
//        }
//        if (shipMobile == null || shipMobile == "") {
//            $.jBox.tip("请填写联系电话");
//            return;
//        }
//        if (shipAddr == null || shipAddr == "") {
//            $.jBox.tip("请填写详细地址");
//            return;
//        }
        $.jBox.confirm("友情提示", "即将保存内容，确定继续吗？",function(v,h,f){
            if (v == 'ok')
                $("#form3").submit();
            else if (v == 'cancel')
                return;

        });
    }

    //初始化进页面
    function firstLoad() {
        document.getElementById('form1').style.display = '';
        /*<![CDATA[*/
        var img=/*[[*{shareType}]]*/'';
        if(img.length>0){
            $("#share_img").show();
            $("#uploadpicCover").children("span").hide();
        }
        /*]]>*/

//            document.getElementById('form2').style.display = 'none';
//            document.getElementById('form3').style.display = 'none';
    }

    //切换标签
    function changePage(type) {

        //资讯
        if (type == 1) {
            document.getElementById('form1').style.display = '';
//            document.getElementById('form2').style.display = 'none';
//            document.getElementById('form3').style.display = 'none';
//            document.getElementById('RadioGroup4').checked = true;

        }
        //团购
        if (type == 2) {
            document.getElementById('form1').style.display = 'none';
//            document.getElementById('form2').style.display = '';
//            document.getElementById('form3').style.display = 'none';

        }
        //众筹
        if (type == 3) {
            document.getElementById('form1').style.display = 'none';
//            document.getElementById('form2').style.display = 'none';
//            document.getElementById('form3').style.display = '';
        }
    }

//    //切换发票模式
//    function change(type) {
//        //普通发票
//        if (type == 2) {
//            document.getElementById('form1').style.display = 'none';
//            document.getElementById('form2').style.display = '';
//            document.getElementById('RadioGroup4').checked = true;
//            document.getElementById('RadioGroup3').checked = false;
//            document.getElementById('RadioGroup2').checked = false;
//            document.getElementById('RadioGroup1').checked = false;
//            if (document.getElementById('defaultType2').checked == false) {
//                $("#defaultType3").val("1");
//                $("#defaultType4").val("1");
//
//            }
//            else {
//                $("#defaultType3").val("0");
//                $("#defaultType4").val("0");
//            }
//
//        }
//        //增值税发票
//        if (type == 1) {
//            document.getElementById('form1').style.display = '';
//            document.getElementById('form2').style.display = 'none';
//            document.getElementById('RadioGroup1').checked = true;
//            document.getElementById('RadioGroup4').checked = false;
//            document.getElementById('RadioGroup2').checked = false;
//            document.getElementById('RadioGroup3').checked = false;
//            if (document.getElementById('defaultType1').checked == false) {
//                $("#defaultType3").val("0");
//                $("#defaultType4").val("0");
//
//            }
//            else {
//                $("#defaultType3").val("1");
//                $("#defaultType4").val("1");
//                ;
//            }
//        }
//
//    }

//    //是否默认发票
//    function check(type) {
//        if (type == 1) {
//            if (document.getElementById('defaultType1').checked == true) {
//                document.getElementById('defaultType2').checked = false;
//                $("#defaultType3").val("1");
//                $("#defaultType4").val("1");
//            }
//            else {
//                $("#defaultType3").val("0");
//                $("#defaultType4").val("0");
//            }
//
//
//        }
//        if (type == 2) {
//            document.getElementById('defaultType1').checked = false;
//            ;
//            $("#defaultType3").val("0");
//            $("#defaultType4").val("0");
//
//
//        }
//    }
</script>
<script charset="utf-8" src="richText/kindeditor-min.js" th:src="@{/richText/kindeditor-min.js}"></script>
<script charset="utf-8" src="richText/lang/zh_CN.js" th:src="@{/richText/lang/zh_CN.js}"></script>
<script charset="utf-8" src="richText/init.js" th:src="@{/richText/init.js}"></script>
</body>
</html>
