<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>众筹后台</title>
    <link rel="stylesheet" href="../../resource/css/fmwebbb.css"
    th:href="@{/resource/css/fmwebbb.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resource/css/search.css"
    th:href="@{/resource/css/search.css}" />
    <link rel="stylesheet" type="text/css" href="../../resource/css/newonedow.css"
    th:href="@{/resource/css/newonedow.css}" />

    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.4.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../resource/css/settlements.css"
            th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" src="../../resource/js/ajaxfileupload.js"
            th:src="@{/resource/js/ajaxfileupload.js}"></script>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
</head>

<body onload="firstLoad()">
<form method="post" action="saveShare" id="form1" th:object="${share}">
    <input type="hidden" name="id" th:value="*{id}"/>
    <input type="hidden" name="checkType" value="1"/>
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block" style="display: block;">
            <div class="h">
      <span class="icon-sprite icon-magnifier">
      </span>
                <h3>帖子新增后台</h3>
            </div>
            <div class="cnt-wp" style="padding: 35px 10px 10px;">
                <div id="makeTab" class="cnt om-tabs om-widget om-widget-content om-corner-all" style="width: auto; height: auto;">

                    <!-- 以下设置表单-->
                    <div class="om-tabs-panels om-widget-content om-corner-bottom">
                        <div class="om-widget om-panel">
                            <div id="tab0001" class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                                <div class="division">
                                    <div></div>
                                    <div></div>
                                    <table id="submitTable" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <th>帖子类型:</th>
                                            <td>
                                                <!--<input th:each="type:${shareTypes}"-->
                                                       <!--th:checked="*{shareType==null?false:(shareType.name==${type.name})}"-->
                                                       <!--type="radio" name="shareType" th:id="${type.value}"/>-->
                                                <input onchange="changeType()" th:value="${shareTypes[0]}" id="type1" type="radio" name="shareType"/><label for="type1">资讯</label>
                                                <input onchange="changeType()" th:value="${shareTypes[1]}" id="type2" type="radio" name="shareType" /><label for="type2">团购</label>
                                                <input onchange="changeType()" th:value="${shareTypes[2]}" id="type3" type="radio" name="shareType" /><label for="type3">众筹项目</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>全局配置:</th>
                                            <td>
                                                转发奖励积分:<input th:value="${GlobalTransmit}" name="GlobalTransmit" type="text" id="GlobalTransmit" class="input-normal" placeholder="" style="text-align:center; width: 50px"/>
                                                <span style=" vertical-align: text-top;">分</span>
                                                总奖励积分:<input th:value="${GlobalTotal}" name="GlobalTotal" type="text" id="GlobalTotal" class="input-normal" placeholder="" style="text-align:center;width: 50px"/>
                                                <span style=" vertical-align: text-top;">分(奖励总积分默认为-1:表示积分无限制)</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>单独配置:</th>
                                            <td>
                                                转发奖励积分:<input th:value="*{relayReward}==null?${GlobalTransmit}:*{relayReward}" name="relayReward" type="text" id="relayReward" class="input-normal" placeholder="" style="text-align:center;width: 50px"/>
                                                <span style=" vertical-align: text-top;">分</span>
                                                总奖励积分:<input th:value="*{score}==null?${GlobalTotal}:*{score}" name="score" type="text" id="score" class="input-normal" placeholder="" style="text-align:center;width: 50px"/>
                                                <span style=" vertical-align: text-top;">分(奖励总积分默认为-1:表示积分无限制)</span>
                                            </td>
                                        </tr>
                                            <tr>
                                                <th>标题:</th>
                                                    <td style="border-top: 1px solid #ddd;">
                                                        <span id="sharezx"></span>
                                                <input maxlength="13" style="width:170px" name="title" type="text" id="title" th:value="*{title}" class="input-normal" placeholder=""/></td>

                                            </tr>
                                        <p style="clean:both;"></p>

                                        <tr>
                                            <th>封面:</th>
                                            <td>

                                                <div id="uploadpicCover" style="width: 80px; height: 80px; border: 1px solid #ccc; float: left; background: #efefef; line-height: 80px; text-align: center; color: #ccc;">
                                                    <span th:style="*{img}!=null?'display:none':''">未上传</span>
                                                    <img  th:style="*{img}==null?'display:none':''" id="share_img" th:src="*{img}" width="80px" height="80px"/>
                                                    <input type="hidden" name="img" th:value="*{img}"/>
                                                </div>

                                                <div style="margin-left: 10px; float: left; line-height: 80px;padding-top: 30px;">
                                                    <a id="uploadpic" class="btn-lit jUploader-button" href="#" style="cursor: pointer; position: relative; overflow: hidden; direction: ltr;">
                                                        <span style="color: #c1b3a9">
                                                                上传
                                                        </span>
                                                        <input type="file" onchange="uploadImage()"  name="shareImage" id="shareImage" style="position: absolute; right: 0px; top: 0px; margin: 0px; opacity: 0; padding: 0px; font-family: Arial; font-size: 118px; vertical-align: baseline; cursor: pointer;"/>
                                                    </a>
                                                </div>
                                                <!--<input name="txtReplyUrl1" type="hidden" id="txtReplyUrl1" value="/resource/images/wechat/mall_cat_def.png"/>-->
                                            </td>
                                        </tr>

                                        <tr>
                                            <th>内容:</th>
                                            <td><textarea id="content" th:text="*{content}" name="content" class="input-normal" style=" width: 393px; height: 76px;"></textarea>
                                            </td>
                                        </tr>

                                        <tr id="useLink">
                                            <th>外链:</th>
                                            <td>
                                                <input value="0" onchange="useLinkchange(this)" type="radio" name="useLink" th:checked="!*{useLink}"/>关闭
                                                <input value="1" onchange="useLinkchange(this)" type="radio" name="useLink" th:checked="*{useLink}"/>启用外链
                                            </td>
                                        </tr>
                                        <tr id="linkUrlTr">
                                            <th>外链地址</th>
                                            <td><input style="width: 49%" type="text" id="linkUrl" name="linkUrl" th:value="*{linkUrl}"/></td>

                                        </tr>

                                            <tr id="enabledRecommendProduct">
                                                <th>是否开启推荐产品:</th>
                                                <td>
                                                    <input value="0" onchange="productRecommend(this)" type="radio" name="enabledRecommendProduct" th:checked="!*{enabledRecommendProduct}"/>关闭
                                                    <input value="1" onchange="productRecommend(this)" type="radio" name="enabledRecommendProduct" th:checked="*{enabledRecommendProduct}"/>开启
                                                </td>
                                            </tr>
                                            <tr id="recommend">
                                                <th>推荐产品</th>
                                                <td><a id="searchGoods" class="btn-lit" href="javascript:recommendGoods();" style="color: #fff">
                                                    <span>添加产品</span>
                                                    </a>


                                                    <div class="commfont">

                                                        <div class="superli clearfix editing">
                                                            <div class="control-group" >
                                                                <div class="sc-goods-list clearfix size-3 normal list">
                                                                    <ul  th:remove="all-but-first">
                                                                        <li class="goods-card normal" th:each="goods:${shareProducts}">
                                                                            <a href="javascript: void(0);" class="link js-goods clearfix">
                                                                                <div class="photo-block">
                                                                                    <img class="goods-photo js-goods-lazy" src="images/goodsa.jpg" th:src="@{goods.pictureUrl}"/>
                                                                                </div>
                                                                                <div class="info">
                                                                                    <p class="goods-title" th:text="${goods.name}">此处显示商品名称</p>
                                                                                    <p class="goods-price"><em th:text="'￥'+${goods.price}">￥379.00</em></p>
                                                                                    <p class="priceyj" th:text="${goods.originalPrice}">￥500.00</p>
                                                                                    <p class="goods-price-taobao"></p>
                                                                                    <div class="jifendy">
                                                                                        <span class="jfd">
                                                                                            <img src="images/jifen.png"/></span>
                                                                                        <span class="jfbq" th:text="${goods.integral}">10积分</span></div>
                                                                                    <!--  D 此处标签已换成积分标签 -->
                                                                                </div>
                                                                            </a>
                                                                        </li>
                                                                    </ul>




                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </td>

                                            </tr>

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>










                    <!-- 添加商品弹窗 -->
                    <div id="asaimsg" class="AsaiDivShow" style="display: none">
                        <input type="hidden" id="eventLogger" />

                        <P align="right" style="margin: 0px; padding: 0px;">
                            <a href="javascript:void(0)"
                               onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'"><FONT
                                    style="color: #111; font-size: 20px;">×</FONT></a>
                        </P>

                        分类筛选:<select id="categoryList" style="width: 200px;">
                                    <option th:remove="all" value="999">女装</option>
                                </select>
                        关键字：<input type="text" id="searchName"/><a class="btn-lit btn-middle" id="search" href="javascript:getGoodsList()" style="margin-bottom: 3px;"><span style="color: #fff">搜索</span></a>


                        <div id="goodsListByNameAndCategory"></div>
                        <table class="data-table even1" width="80%" border="0" cellspacing="0"
                               cellpadding="0">
                            <thead>
                            <tr class="even">
                                <th scope="col">商品名称</th>
                                <th scope="col">商品价格（元）</th>
                                <th scope="col">操作</th>
                            </tr>
                            </thead>
                            <tbody id="goodListByNameAndCategory">
                            <tr>
                                <td class="txt55 c">瓜子</td>
                                <td class="txt21 c">120</td>
                                <td class="txt21 c"><a href="javascript:void(0)" onclick="choiceGoods(this)">选择</a></td>
                            </tr>



                            </tbody>
                        </table>
                        <div class="pager-bar">
                            <a class="button-white" href="javascript:queryForst()"><span>首页</span></a>
                            <a class="button-white" href="javascript:queryUp(-1)">
                                <span>上一页</span>
                            </a>
                            <a class="button-white" href="javascript:queryVoid(1)">
                                <span>下一页</span>
                            </a>
                            <a class="button-white" href="javascript:queryLast()">
                                <span>未页</span>
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第
                            <input id="current-index" onkeydown="J.EnterSubmit(event, Pager.Jump);" class="input-small" style="text-align:center;" type="text" value="1"/>页&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="button-white" href="javascript:goToNo();"><span>跳转</span></a>
                        </div>



                    </div>
                    <!-- 弹窗结束 -->













                </div>

                <!--是否在资讯栏目发一篇介绍范围结束-->

                <!--以下是按钮-->
                <div style="text-align: center; margin-top:12px" >
                    <a id="drafts" class="btn-lit" href="javascript:submitForm1(false);" style=" margin-right:10px;color:#fff">
        <span>
        保存到草稿箱
        </span>
                    </a>
                    <a id="audit" class="btn-lit" href="javascript:submitForm1(true);" style="color:#fff">
        <span>
        直接发布
        </span>
                    </a>
                </div>
                <!--按钮结束-->

            </div>
        </div>
    </div>
</form>


<div class="blank10"></div>


<!--<div id="asaimsg" class="AsaiDivShow" style="display: none">-->
    <!--<input type="hidden" id="eventLogger"/>-->

    <!--<P align="right" style="margin: 0px; padding: 0px;">-->
        <!--<a href="javascript:void(0)"-->
           <!--onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'"><FONT-->
                <!--style="color: #111; font-size: 20px;">×</FONT></a>-->
    <!--</P>-->
    <!--分类筛选:<select id="categoryList" style="width: 200px;"></select>-->
    <!--关键字：<input type="text" id="searchName"/><a class="btn-lit btn-middle" id="search" href="javascript:void(0)" style="margin-bottom: 3px;"><span>搜索</span></a>-->
    <!--<div id="goodsListByNameAndCategory"></div>-->
<!--</div>-->


<script type="text/javascript" th:inline="javascript">
    var goods;
    //封面图片上传
    function uploadImage() {
        $.ajaxFileUpload({
            url: 'UploadImg',
            secureuri: false,
            fileElementId: 'shareImage',
            dataType: 'json',
            data: null,
            success: function(resultModel) {
                if(resultModel.code==1){
                    $.jBox("上传成功");
                    $("#share_img").attr("src",resultModel.message);
                    $("#share_img").show();
                    $("#uploadpicCover").children("span").hide();
                    $("input[name='img']").val(resultModel.message);
                }
            },
            error: function(data, status, e) {

                $.jBox("上传失败，请检查网络后重试"+e);
            }
        });
    }



    function getGoodsList(){
            //ajax请求商品列表
        var obj={name:"",catPath:"",pageNoStr:0};
            $.ajax({
                type:'GET',
                url: 'goodsList',
                dataType: 'json',
                data: {goodSearchModel:obj},
                success:function(result){
                    if(result.code==1){
                        jBox.tip("获取商品成功");
                        goods=result.data;
                        $.each(goods,function(){
                            var goodsTitle=this.title;
                            var goodsPrice=this.price;
                            $("#goodListByNameAndCategory").append('' +
                                    '<tr> ' +
                                        '<td class="txt55 c">'+goodsTitle+'</td> ' +
                                        '<td class="txt21 c">'+goodsPrice+'</td>' +
                                        '<td class="txt21 c">' +
                                            '<a href="javascript:void(0)" onclick="choiceGoods(this)">选择</a>' +
                                        '</td> ' +
                                    '</tr>');
                        })


                    }else {
                        jBox.tip(result.message);
                    }
                },
                error:function(e){
                    $.jBox.tip("获取商品出错，请检查网络");
                }
            });
    }



    function recommendGoods(){
        /*<![CDATA[*/
        if($("#categoryList option").size()==0){
            //ajax请求分类列表
            $.ajax({
                type:'GET',
                url: 'sortsList',
                dataType: 'json',
                data: {},
                success:function(result){
                    if(result.code==1){
                        jBox.tip("获取分类成功");
                        $.each(result.data,function(){
                            var catId=this.id;
                            var catTitle=this.title;
                            var catPath=this.catPath;
                            var catDepth=this.depth;
                            for(var i=0;i<catDepth;i++){
                                catTitle="-"+catTitle;
                            }

                            $("#categoryList").append('<option value='+catPath+'>'+catTitle+'</option>');
                        })
                    }else {
                        jBox.tip(result.message);
                    }
                },
                error:function(e){
                    $.jBox.tip("获取商品出错，请检查网络");
                }
            });

        }

        $("#asaimsg").show();
//        $.jBox("iframe:goodsList", {
//            title: "选择商品",
//            width: 800,
//            height: 600,
//            buttons: { '关闭': true }
//        });
        /*]]>*/
    }


//    //提交草稿
//    function drafts(obj) {
//        $("input[name='checkType']").val(0);
//        $.jBox.confirm("友情提示", "即将保存内容，确定继续吗？",function(v,h,f){
//            if (v == 'ok')
//                $("#form1").submit();
//        });
//
//    }



    //提交帖子
    function submitForm1(obj) {
        var shareTitle = $("#title").val();
        var content = $("#content").val();
        var overallTransmit = $("#GlobalTransmit").val();
        var overallTotal = $("#GlobalTotal").val();
        var aloneTransmit = $("#relayReward").val();
        var aloneTotal = $("#score").val();
        var imgUrl=$("input[name='img']").val();

        if (shareTitle.length == 0) {
            $.jBox.tip("请输入文章标题");
            return;
        }
        if (imgUrl.length == 0) {
            $.jBox.tip("请上传封面图片");
            return;
        }
        if (content.length==0) {
            $.jBox.tip("请输入文章内容");
            return;
        }
        if (overallTransmit.length == 0) {
            $.jBox.tip("请输入全局配置的转发积分");
            return;
        }
        if (overallTotal.length==0) {
            $.jBox.tip("请输入全局配置的总积分");
            return;
        }
        if (aloneTransmit.length == 0) {
            $.jBox.tip("请输入单独配置的转发积分");
            return;
        }
        if (aloneTotal.length==0) {
            $.jBox.tip("请输入单独配置的总积分");
            return;
        }
        var rex=/^[0-9]*$/;
        if(!rex.test(overallTransmit)||!rex.test(aloneTransmit)){
            $.jBox.tip("积分请输入数字！");
            return;
        }
        var rex=/^(-1)*|[0-9]*$/;
        if(!rex.test(overallTotal)||!rex.test(aloneTotal)){
            $.jBox.tip("积分请输入数字！");
            return;
        }
        if(!obj){
            $("input[name='checkType']").val(0);
        }
        $.jBox.confirm("友情提示", "即将保存内容，确定继续吗？",function(v,h,f){
            if (v == 'ok')
                $("#form1").submit();
        });

    }
    //初始化进页面
    function firstLoad() {
        /*<![CDATA[*/
        var share=/*[[${share.shareType}]]*/'';
        if(share!=null){
            //将类型选择禁用(修改模式)
            $("input[name='shareType']").attr("disabled",true);
            switch (share.$name){
                case 'information':
                    $("input[name='shareType']").eq(0).attr("checked","checked");
                    break;
                case 'group':
                    $("input[name='shareType']").eq(1).attr("checked","checked");
                    break;
                case 'crowdFunding':
                    $("input[name='shareType']").eq(2).attr("checked","checked");
                    break;
            }
        }else{
            $("input[name='shareType']").eq(0).attr("checked","checked");
        }
        changeType();
//        $("#linkUrl").attr("disabled",true);
        /*]]>*/

    }

    function useLinkchange(obj){
        var link=$("input[name='useLink']:checked").val();
        if(link==0){
            window.editor.readonly(false);
            //$("#content").removeAttr("readonly");
            $("#linkUrl").attr("disabled",true);
        }
        if(link==1){
            window.editor.readonly(true);
            //$("#content").attr("readonly","readonly");
            $("#linkUrl").attr("disabled",false);
        }
    }

    function productRecommend(obj){
        var ep=$("input[name='enabledRecommendProduct']:checked").val();
        if(ep==0){
            $("#recommend").fadeOut();
        }
        if(ep==1){
            $("#recommend").fadeIn();
        }

    }

    //切换帖子类型
    function changeType() {
        var type=$("input[name='shareType']:checked").val();

        //资讯
        if (type == "information") {
            $("#useLink").fadeIn();
            $("#linkUrlTr").fadeIn();
            $("#enabledRecommendProduct").fadeIn();
            if($("input[name='enabledRecommendProduct']:checked").val()==0){
                $("#recommend").hide();
            }else{
                $("#recommend").show();
            }
            var urlFlag=$("input[name='useLink']:checked").val();
            if(urlFlag==0){
                $("input[name='linkUrl']").attr("disabled",true);
                window.editor.readonly(false);
            }else{
                window.editor.readonly(true);
            }
        }
        //团购
        if (type == "group") {
            $("#linkUrlTr").fadeIn();
            $("#linkUrl").attr("disabled",false);
            $("#useLink").fadeOut();
            $("#enabledRecommendProduct").fadeOut();
            $("#recommend").fadeOut();
            window.editor.readonly(false);

        }
        //众筹
        if (type == "crowdFunding") {
            $("#useLink").fadeOut();
            $("#linkUrlTr").fadeOut();
            $("#enabledRecommendProduct").fadeOut();
            $("#recommend").fadeOut();
            window.editor.readonly(false);
        }
    }
</script>
<script charset="utf-8" src="richText/kindeditor-min.js" th:src="@{/richText/kindeditor-min.js}"></script>
<script charset="utf-8" src="richText/lang/zh_CN.js" th:src="@{/richText/lang/zh_CN.js}"></script>
<script charset="utf-8" src="richText/init.js" th:src="@{/richText/init.js}"></script>
</body>
</html>
