<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>
        爱分享文章列表
    </title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.content.css}" />
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.8.3.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <link href="../../resource/3rdParty/omTabs/themes/default/operamasks-ui.min.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/3rdParty/omTabs/themes/default/operamasks-ui.min.css}"/>
    <script src="../../resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js"
            th:src="@{/resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <link href="../../resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"
            th:href="@{/resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}"/>
    <script src="../../resource/3rdParty/Knockout/knockout-2.3.0.js"
            th:src="@{/resource/3rdParty/Knockout/knockout-2.3.0.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>

    <style type="text/css">
        .over {
            background-color: #00ff21;
        }

        .p_prt, .p_prted {
            cursor: pointer;
            width: 17px;
            height: 18px;
            display: inline-block;
            display: -moz-inline-stack;
            line-height: 18px;
            vertical-align: top;
            text-align: left;
            margin: 2px 0 0 0;
            color: #000;
            font-weight: 400;
        }
    </style>
</head>
<body marginwidth="0" marginheight="0">
<form method="post" action="saveShare" id="form1" th:object="${backendShareModel}">
    <label>文章标题：</label>
    <input id="title" name="title" th:value="*{title}"/><br>
    <label>内容：</label>
    <textarea id="content" name="content" th:text="*{content}"></textarea><br>
    <label>积分设置：</label><br>
    转发可得积分：<input id="relayScore" name="relayScore" th:value="*{relayScore}"/><br>
    <input type="submit" name="btnSearch" value="提交" id="btnSearch"/>
</form>
<!--<form method="post" action="addShare" id="form1" th:object="${AppShareListModel}">-->
    <!--<div class="container">-->
        <!--<div class="blank10">-->
        <!--</div>-->
        <!--<div class="search block">-->
            <!--<div class="h">-->
                <!--<span class="icon-sprite icon-magnifier"></span>-->

                <!--<h3>文章筛选</h3>-->

            <!--</div>-->
            <!--<div class="tl corner">-->
            <!--</div>-->
            <!--<div class="tr corner">-->
            <!--</div>-->
            <!--<div class="bl corner">-->
            <!--</div>-->
            <!--<div class="br corner">-->
            <!--</div>-->
            <!--<div class="cnt-wp">-->
                <!--<div class="cnt">-->

                    <!--<div class="search-bar">-->
                        <!--<label class="first ">分享标题：</label>-->
                        <!--<input name="shareTitle" type="text" th:value="*{shareTitle}" id="shareTitle" class="input-small" style="width: 120px;"/>-->

                        <!--<br/>-->
                        <!--<br/>-->

                        <!--<label class="first ">类型：</label>-->
                        <!--<select name="shareType" id="shareType">-->
                            <!--<option value="-1" selected="selected">==所有==</option>-->
                            <!--<option value="0" th:selected="*{shareType==0}">资讯</option>-->
                            <!--<option value="1" th:selected="*{shareType==1}">团购</option>-->
                            <!--<option value="2" th:selected="*{shareType==2}">众筹宣传</option>-->
                        <!--</select>-->
                        <!--&nbsp;-->
                        <!--<label class="first ">排序：</label>-->
                        <!--<select name="sort" id="sort">-->
                            <!--<option value="0" selected="selected">按发布时间</option>-->
                            <!--<option value="1" th:selected="*{sort==1}">按浏览量</option>-->
                            <!--<option value="2" th:selected="*{sort==2}">按转发量</option>-->
                            <!--<option value="3" th:selected="*{sort==3}">按点赞量</option>-->
                            <!--<option value="4" th:selected="*{sort==4}">按评论量</option>-->
                        <!--</select>-->
                        <!--<style type="text/css">-->
                            <!--#raSortType label {-->
                                <!--padding-left: 0px;-->
                            <!--}-->
                        <!--</style>-->
                        <!--<span id="raSortType">-->
                            <!--<input id="raSortType_0" type="radio" name="raSortType" value="0" checked="checked" th:checked="*{raSortType==0}"/>-->
                            <!--<label for="raSortType_0">倒序</label>-->
                            <!--<input id="raSortType_1" type="radio" name="raSortType" value="1" th:checked="*{raSortType==1}"/>-->
                            <!--<label for="raSortType_1">顺序</label>-->
                        <!--</span>-->

                        <!--<br/>-->
                        <!--<br/>-->

                        <!--<label class="first ">发布时间：</label>-->

                        <!--<input name="startTime" type="text" id="startTime" placeholder=" [开始日期]"-->
                               <!--th:value="*{startTime}"-->
                               <!--class="input-normal Wdate"-->
                               <!--onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false})"/>-->
                        <!--<input name="endTime" type="text" id="endTime" placeholder=" [结束日期]"-->
                               <!--th:value="*{endTime}"-->
                               <!--class="input-normal Wdate"-->
                               <!--onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,minDate:'#F{$dp.$D(\'startTime\')}'})"/>-->

                        <!--<br/>-->
                        <!--<br/>-->
                        <!--<div style="display: none;">-->
                            <!--<input type="submit" name="btnSearch" value="" id="btnSearch"/>-->
                            <!--<input type="submit" name="btnSearchAll" value="" id="btnSearchAll"/>-->
                        <!--</div>-->
                        <!--<br/>-->
                        <!--<br/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->
</body>
</html>