<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>积分配置</title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.4.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.4.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" src="../../resource/js/confirm.js"
            th:src="@{/resource/js/confirm.js}"></script>

</head>


<body onload="firstLoad()">

<form method="post" th:action="@{saveBottomConfig}" id="form1">
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block" style="display: block;">
            <div class="h">
                <span class="icon-sprite icon-magnifier"></span>

                <h3>全局配置</h3>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp" style="padding: 35px 10px 10px;">
                <div id="make-tab" class="cnt om-tabs om-widget om-widget-content om-corner-all"
                     style="width: auto; height: auto;">

                    <div class="cnt" id="config1">

                    </div>
                    <div class="om-tabs-panels om-widget-content om-corner-bottom" id="config2">
                        <div class="om-widget om-panel">
                            <div id="tab0" class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                                <div class="division">
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <th>底部推广:</th>
                                            <td><span id="lblOrderId"></span>
                                                <textarea th:text="${bottom}" title="" name="content" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: center;">
                <div style="display: none;">
                    <input type="submit" name="btnSave" value="" id="btnSave"/>
                </div>
                <a class="btn-lit" href="javascript:submitForm1();">
                    <span>保存修改</span>
                </a>
            </div>
            <div class="blank10">
            </div>
        </div>
    </div>
</form>

<script>
    //提交所填信息
    function submitForm1(obj) {
        var content = $("#content").val();
        $.jBox.confirm("友情提示", "即将保存内容，确定继续吗？",function(v,h,f){
            if (v == 'ok')
                $("#form1").submit();
        });
    }


//    //初始化进页面
//    function firstLoad() {
//
//        var i = $("#defaultType3").val();
//        if (i == 0) {
//            document.getElementById('defaultType1').checked = false;
//            document.getElementById('defaultType2').checked = true;
//            document.getElementById('form1').style.display = 'none';
//            document.getElementById('form2').style.display = '';
//            document.getElementById('form3').style.display = 'none';
//            document.getElementById('RadioGroup4').checked = true;
//        }
//        if (i == 1) {
//            document.getElementById('defaultType1').checked = true;
//            document.getElementById('defaultType2').checked = false;
//            document.getElementById('form1').style.display = '';
//            document.getElementById('form2').style.display = 'none';
//            document.getElementById('form3').style.display = 'none';
//            document.getElementById('RadioGroup1').checked = true;
//        }
//    }

</script>
<script charset="utf-8" src="richText/kindeditor-min.js" th:src="@{/richText/kindeditor-min.js}"></script>
<script charset="utf-8" src="richText/lang/zh_CN.js" th:src="@{/richText/lang/zh_CN.js}"></script>
<script charset="utf-8" src="richText/init.js" th:src="@{/richText/init.js}"></script>
</body>
</html>
