<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>积分配置</title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.4.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.4.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" src="../../resource/js/confirm.js"
            th:src="@{/resource/js/confirm.js}"></script>

</head>


<body onload="firstLoad()">

<form method="post" th:action="@{saveUserIntegralConfig}" id="form1">
    <input type="hidden" name="type" value="0"/>
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block" style="display: block;">
            <div class="h">
                <span class="icon-sprite icon-magnifier"></span>

                <h3>官方发布</h3>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp" style="padding: 35px 10px 10px;">
                <div class="cnt om-tabs om-widget om-widget-content om-corner-all"
                     style="width: auto; height: auto;">

                    <div class="cnt" id="config1">

                    </div>
                    <div class="om-tabs-panels om-widget-content om-corner-bottom" id="config2">
                        <div class="om-widget om-panel">
                            <div class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                                <div class="division">
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <th>转发奖励:</th>
                                            <td><span></span>
                                                <input name="relayReward" type="text"
                                                       th:value="${globalGT} == null ? '': ${globalGT}"
                                                       id="globalGT" class="input-normal" placeholder=""/></td>
                                            <th>帖子总奖励:</th>
                                            <td><input name="score" type="text" id="globalTT"
                                                       th:value="${globalTT} == null ? '': ${globalTT}"
                                                       class="input-normal" placeholder=""/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: center;">
                <div style="display: none;">
                    <input type="submit" name="btnSave" value=""/>
                </div>
                <a class="btn-lit" href="javascript:submitForm1();">
                    <span>保存修改</span>
                </a>
            </div>
            <div class="blank10">
            </div>
        </div>
    </div>
</form>


<form method="post" th:action="@{saveUserIntegralConfig}" id="form2">
    <input type="hidden" name="type" value="1"/>
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block" style="display: block;">
            <div class="h">
                <span class="icon-sprite icon-magnifier"></span>

                <h3>用户发布</h3>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp" style="padding: 35px 10px 10px;">
                <div id="make-tab" class="cnt om-tabs om-widget om-widget-content om-corner-all"
                     style="width: auto; height: auto;">

                    <div class="cnt">

                    </div>
                    <div class="om-tabs-panels om-widget-content om-corner-bottom" id="config2">
                        <div class="om-widget om-panel">
                            <div id="tab0" class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                                <div class="division">
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <th>转发奖励:</th>
                                            <td><span></span>
                                                <input name="relayReward" type="text"
                                                       th:value="${userGT} == null ? '': ${userGT}"
                                                       id="userGT" class="input-normal" placeholder=""/></td>
                                            <th>帖子总奖励:</th>
                                            <td><input name="score" type="text" id="userTT"
                                                       th:value="${userTT} == null ? '': ${userTT}"
                                                       class="input-normal" placeholder=""/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: center;">
                <div style="display: none;">
                    <input type="submit" name="btnSave" value="" id="btnSave"/>
                </div>
                <a class="btn-lit" href="javascript:submitForm2();">
                    <span>保存修改</span>
                </a>
            </div>
            <div class="blank10">
            </div>
        </div>
    </div>
</form>

<!-- 邮寄地址-->
<div class="blank10"></div>


<script>
    //提交官方积分配置
    function submitForm1(obj) {
        var globalGT = $("#globalGT").val();
        var globalTT = $("#globalTT").val();
        if (globalGT.length == 0) {
            $.jBox.tip("请输入全局配置的转发积分");
            return;
        }
        if (globalTT.length==0) {
            $.jBox.tip("请输入全局配置的总积分");
            return;
        }
        var rex=/^[0-9]*$/;
        if(!rex.test(globalGT)) {
            $.jBox.tip("积分请输入数字！");
            return;
        }
        var rex=/^(-1)*|[0-9]*$/;
        if(!rex.test(globalTT)){
            $.jBox.tip("积分请输入数字！");
            return;
        }
        $.jBox.confirm("友情提示", "即将保存内容，确定继续吗？",function(v,h,f){
            if (v == 'ok')
                $("#form1").submit();
        });

    }
    //提交用户积分配置
    function submitForm2(obj) {
        var userGT = $("#userGT").val();
        var userTT = $("#userTT").val();
        if (userGT.length == 0) {
            $.jBox.tip("请输入全局配置的转发积分");
            return;
        }
        if (userTT.length==0) {
            $.jBox.tip("请输入全局配置的总积分");
            return;
        }
        var rex=/^[0-9]*$/;
        if(!rex.test(userGT)) {
            $.jBox.tip("积分请输入数字！");
            return;
        }
        var rex=/^(-1)*|[0-9]*$/;
        if(!rex.test(userTT)){
            $.jBox.tip("积分请输入数字！");
            return;
        }
        $.jBox.confirm("友情提示", "即将保存内容，确定继续吗？",function(v,h,f){
            if (v == 'ok')
                $("#form2").submit();
        });

    }

</script>
</body>
</html>
