<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>配置后台</title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.4.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
            th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../resource/css/settlements.css"
            th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" src="../../resource/js/ajaxfileupload.js"
            th:src="@{/resource/js/ajaxfileupload.js}"></script>

</head>

<body>
<form method="post" action="saveWeiXinConfig" id="form1" th:object="${weiXinConfigModel}">
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block" style="display: block;">
            <div class="h">
      <span class="icon-sprite icon-magnifier">
      </span>
                <h3>配置管理后台</h3>
            </div>
            <div class="cnt-wp" style="padding: 35px 10px 10px;">
                <div id="makeTab" class="cnt om-tabs om-widget om-widget-content om-corner-all" style="width: auto; height: auto;">

                    <!-- 以下设置表单-->
                    <div class="om-tabs-panels om-widget-content om-corner-bottom">
                        <div class="om-widget om-panel">
                            <div id="tab0001" class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                                <div class="division">
                                    <div></div>
                                    <div></div>
                                    <table id="submitTable" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>

                                        <tr>
                                            <th>微信支付商户号（MCHID）:</th>
                                            <td style="border-top: 1px solid #ddd;">
                                                <span id="sharezx0"></span>
                                                <input maxlength="13" style="width:170px" name="mchid" type="text" id="mchid" th:value="*{mchid}" class="input-normal" placeholder=""/></td>

                                        </tr>
                                        <p style="clean:both;"></p>
                                            <tr>
                                                <th>APPID:</th>
                                                    <td style="border-top: 1px solid #ddd;">
                                                        <span id="sharezx1"></span>
                                                <input maxlength="13" style="width:170px" name="appid" type="text" id="appid" th:value="*{appid}" class="input-normal" placeholder=""/></td>

                                            </tr>
                                        <p style="clean:both;"></p>
                                            <tr>
                                                <th>AppSecret:</th>
                                                <td style="border-top: 1px solid #ddd;">
                                                    <span id="sharezx2"></span>
                                                    <input maxlength="13" style="width:170px" name="appSecret" type="text" id="appSecret" th:value="*{appSecret}" class="input-normal" placeholder=""/></td>

                                            </tr>
                                            <p style="clean:both;"></p>

                                        <tr id="linkUrlTr">
                                            <th>签名密钥(paySignKey)</th>
                                            <td><input style="width: 49%" type="text" id="paySignKey" name="paySignKey" th:value="*{paySignKey}"/></td>

                                        </tr>
                                        <p style="clean:both;"></p>
                                        <tr>
                                            <th>上传证书:</th>
                                            <td>

                                            <input style="width: 49%" type="text" id="celPath" name="celPath" th:value="*{celPath}"/>


                                                    <a id="uploadpic" class="btn-lit jUploader-button" href="#" style="cursor: pointer; position: relative; overflow: hidden; direction: ltr;">
                                                        <span style="color: #c1b3a9">
                                                                上传
                                                        </span>
                                                        <input type="file" onchange="uploadCel()"  name="cel" id="cel" style="position: absolute; right: 0px; top: 0px; margin: 0px; opacity: 0; padding: 0px; font-family: Arial; font-size: 118px; vertical-align: baseline; cursor: pointer;"/>
                                                    </a>

                                                <!--<input name="txtReplyUrl1" type="hidden" id="txtReplyUrl1" value="/resource/images/wechat/mall_cat_def.png"/>-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>证书密钥:</th>
                                            <td style="border-top: 1px solid #ddd;">
                                                <span id="sharezx3"></span>
                                                <input maxlength="13" style="width:170px" name="celKey" type="celKey" id="celKey" th:value="*{celKey}" class="input-normal" placeholder=""/></td>

                                        </tr>


                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!--是否在资讯栏目发一篇介绍范围结束-->

                <!--以下是按钮-->
                <div style="text-align: center; margin-top:12px" >
                    <a class="btn-lit" href="javascript:submitForm1();">
        <span>
        保存
        </span>
                    </a>
                </div>
                <!--按钮结束-->

            </div>
        </div>
    </div>
</form>


<div class="blank10"></div>
<script type="text/javascript" th:inline="javascript">
    //封面图片上传
    function uploadCel() {
        $.ajaxFileUpload({
            url: 'UploadCel',
            secureuri: false,
            fileElementId: 'cel',
            dataType: 'json',
            data: null,
            success: function(resultModel) {
                if(resultModel.code==1){
                    $.jBox("上传成功");
//                    $("#article_img").attr("src",resultModel.message);
//                    $("#article_img").show();
//                    $("#uploadpicCover").children("span").hide();
                    $("input[name='celPath']").val(resultModel.message);
                }
            },
            error: function(data, status, e) {

                $.jBox("上传失败，请检查网络后重试"+e);
            }
        });
    }


    function recommendGoods(){
        $.jBox("iframe:http://www.baidu.com", {
            title: "百度一下",
            width: 800,
            height: 350,
            buttons: { '关闭': true }
        });
    }


    //提交帖子
    function submitForm1(obj) {
        var mchid = $("#mchid").val();
        var appid = $("#appid").val();
        var celPath=$("input[name='celPath']").val();
        var appSecret = $("#appSecret").val();
        var paySignKey = $("#paySignKey").val();
        var celKey = $("#celKey").val();


        if (mchid.length == 0) {
            $.jBox.tip("请输入mchid");
            return;
        }
        if (appid.length == 0) {
            $.jBox.tip("请输入appid");
            return;
        }
        if (celPath.length==0) {
            $.jBox.tip("请上传证书");
            return;
        }
        if (appSecret.length == 0) {
            $.jBox.tip("请输入appSecret");
            return;
        }
        if (paySignKey.length == 0) {
            $.jBox.tip("请输入paySignKey");
            return;
        }
        if (celKey.length == 0) {
            $.jBox.tip("请输入celKey");
            return;
        }

        $.jBox("success");

        $.jBox.confirm("友情提示", "即将保存内容，确定继续吗？",function(v,h,f){
            if (v == 'ok')
                $("#form1").submit();
            else if (v == 'cancel')
                return;

        });

    }
    //初始化进页面


    function useLinkchange(obj){
        var link=$("input[name='useLink']:checked").val();
        if(link==0){
            window.editor.readonly(false);
            //$("#content").removeAttr("readonly");
            $("#linkUrl").attr("disabled",true);
        }
        if(link==1){
            window.editor.readonly(true);
            //$("#content").attr("readonly","readonly");
            $("#linkUrl").attr("disabled",false);
        }
    }

    //切换帖子类型
    function changeType() {
//        var type=$("input[name='articleType']:checked").val();

        //公司
        //if (type == "company") {
            $("#useLink").fadeIn();
            $("#linkUrlTr").fadeIn();
//            $("#enabledRecommendProduct").fadeIn();
//            $("#recommend").fadeIn();
            var urlFlag=$("input[name='useLink']:checked").val();
            if(urlFlag==0){
                $("input[name='linkUrl']").attr("disabled",true);
                window.editor.readonly(false);
            }else{
                window.editor.readonly(true);
            }
       // }
        //自传
//        if (type == "autobiography") {
//            $("#useLink").fadeIn();
//            $("#linkUrlTr").fadeIn();
//            $("#enabledRecommendProduct").fadeIn();
//            $("#recommend").fadeIn();
//            var urlFlag=$("input[name='useLink']:checked").val();
//            if(urlFlag==0){
//                $("input[name='linkUrl']").attr("disabled",true);
//                window.editor.readonly(false);
//            }else{
//                window.editor.readonly(true);
//            }
//
//        }
//        //学院
//        if (type == "college") {
//            $("#useLink").fadeIn();
//            $("#linkUrlTr").fadeIn();
//            $("#enabledRecommendProduct").fadeIn();
//            $("#recommend").fadeIn();
//            var urlFlag=$("input[name='useLink']:checked").val();
//            if(urlFlag==0){
//                $("input[name='linkUrl']").attr("disabled",true);
//                window.editor.readonly(false);
//            }else{
//                window.editor.readonly(true);
//            }
//        }
//        //美容
//        if (type == "hairdressing") {
//            $("#useLink").fadeIn();
//            $("#linkUrlTr").fadeIn();
//            $("#enabledRecommendProduct").fadeIn();
//            $("#recommend").fadeIn();
//            var urlFlag=$("input[name='useLink']:checked").val();
//            if(urlFlag==0){
//                $("input[name='linkUrl']").attr("disabled",true);
//                window.editor.readonly(false);
//            }else{
//                window.editor.readonly(true);
//            }
//        }
    }
</script>
<script charset="utf-8" src="richText/kindeditor-min.js" th:src="@{/richText/kindeditor-min.js}"></script>
<script charset="utf-8" src="richText/lang/zh_CN.js" th:src="@{/richText/lang/zh_CN.js}"></script>
<script charset="utf-8" src="richText/init.js" th:src="@{/richText/init.js}"></script>
</body>
</html>
