<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>用户登录</title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.4.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../resource/css/settlements.css"
          th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" src="../../resource/js/ajaxfileupload.js"
            th:src="@{/resource/js/ajaxfileupload.js}"></script>
    <script type="text/javascript">

        function submitForm1(obj) {
            var username = $("#username").val();
            var password = $("#password").val();

            if (username.length == 0) {
                $.jBox.tip("请输入用户名");
                return;
            }
            if (password.length == 0) {
                $.jBox.tip("请输入密码");
                return;
            }
            $("#loginPage").submit();
            //login(username,password)
        }

        function login(username,password) {
            $.ajax({
                url:"managerlogin",
                type:"post",
                data:{
                    username: username,
                    password:password
                },//要传递的数据
                dataType:"json",
                success:function(msg){
                    var result=msg.code;
                    alert(result);
                    if(result!="200"){
                        //获取对象的数据用data.userInfo.属性
                        $("#password").append("<div><font color='red'>用户名或密码错误！</font></div>");
                    }else{
                        location.href="getYmrShareList";
                    }
                },
            });

        }

        </script>
</head>
<body>
<form>

    <form action="manager/login" id="loginPage"  method="post" style="display:block;height:335px;">

        <div id="roleCode" class="loginFormIpt showPlaceholder" style="display: none;text-align: center;margin: 0 auto;">
            <b class="ico ico-uid"></b>
            <input class="formIpt" tabindex="1" placeholder="商家编号,8位数字,如：10002014" type="text" name="CompanyID" maxlength="50" autocomplete="off"/>
        </div>
        <div id=""  class="loginFormIpt showPlaceholder" style="text-align: center; margin: 0 auto;">

            <input class="formIpt" tabindex="1" title="请输入帐号" id="username" name="username" type="text" maxlength="50" autocomplete="off" placeholder="帐号"/>
        </div>

        <div id="" class="loginFormIpt showPlaceholder" style="text-align: center; margin: 0 auto;">

            <input class="formIpt" tabindex="2" title="请输入密码" id="password" name="password"  type="password" placeholder="密码"/>
        </div>

        <div style="text-align: center; margin: 0 auto; width: 389px; padding-top: 10px;">
            <p style="width: 50%;margin: auto">
                <input id="mallBtn" type="button" onclick="submitForm1()" class="buttons3" value="登&nbsp;&nbsp;录"/>
            </p>

        </div>

        <div style="text-align: center; margin: 0 auto; width: 389px; padding-top: 10px;">
            <p style="width: 50%;margin: auto">
                <span id="errorInfo" style="color: red"></span>
            </p>

        </div>


        <div style="width: 7%; position: fixed; top: 60px; margin-left: 88%;">
            <img src="resource/lib/images/or.jpg" width="100%"/>
        </div>
    </form>
</form>
</body>
</html>