  div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24, div.span-auto
    {
        float: left;
        margin-right: 10px;
        overflow: hidden;
    }

    .infoContent div.span-9, .infoContent div.span-5, .infoContent div.span-7, .infoContent div.span-10
    {
        border-bottom: 1px solid #efefef;
        padding: 2px 0;
    }

    div.last
    {
        margin-right: 0;
        border: none;
    }

    .span-1
    {
        width: 30px;
    }

    .span-2
    {
        width: 75px;
    }

    .span-3
    {
        width: 110px;
    }

    .span-4
    {
        width: 150px;
    }

    .span-5
    {
        width: 180px;
    }

    .span-6
    {
        width: 230px;
    }

    .span-7
    {
        width: 270px;
    }

    .span-8
    {
        width: 310px;
    }

    .span-9
    {
        width: 350px;
    }

    .span-10
    {
        width: 390px;
    }

    .span-11
    {
        width: 430px;
    }

    .span-12
    {
        width: 470px;
    }

    .span-13
    {
        width: 510px;
    }

    .span-14
    {
        width: 550px;
    }

    .span-15
    {
        width: 590px;
    }

    .span-16
    {
        width: 630px;
    }

    .span-17
    {
        width: 670px;
    }

    .span-18
    {
        width: 710px;
    }

    .span-19
    {
        width: 750px;
    }

    .span-20
    {
        width: 790px;
    }

    .span-21
    {
        width: 830px;
    }

    .span-22
    {
        width: 870px;
    }

    .span-23
    {
        width: 910px;
    }

    .span-24, div.span-24
    {
        width: 950px;
        margin: 0;
    }

    div.span-auto-6
    {
        width: auto!important;
        min-width: 230px;
        width: 230px;
    }

    .append-1
    {
        padding-right: 40px;
    }

    .append-2
    {
        padding-right: 80px;
    }

    .append-3
    {
        padding-right: 120px;
    }

    .append-4
    {
        padding-right: 160px;
    }

    .append-5
    {
        padding-right: 200px;
    }

    .append-6
    {
        padding-right: 240px;
    }

    .append-7
    {
        padding-right: 280px;
    }

    .append-8
    {
        padding-right: 320px;
    }

    .append-9
    {
        padding-right: 360px;
    }

    .append-10
    {
        padding-right: 400px;
    }

    .append-11
    {
        padding-right: 440px;
    }

    .append-12
    {
        padding-right: 480px;
    }

    .append-13
    {
        padding-right: 520px;
    }

    .append-14
    {
        padding-right: 560px;
    }

    .append-15
    {
        padding-right: 600px;
    }

    .append-16
    {
        padding-right: 640px;
    }

    .append-17
    {
        padding-right: 680px;
    }

    .append-18
    {
        padding-right: 720px;
    }

    .append-19
    {
        padding-right: 760px;
    }

    .append-20
    {
        padding-right: 800px;
    }

    .append-21
    {
        padding-right: 840px;
    }

    .append-22
    {
        padding-right: 880px;
    }

    .append-23
    {
        padding-right: 920px;
    }

    .prepend-1
    {
        padding-left: 40px;
    }

    .prepend-2
    {
        padding-left: 80px;
    }

    .prepend-3
    {
        padding-left: 120px;
    }

    .prepend-4
    {
        padding-left: 160px;
    }

    .prepend-5
    {
        padding-left: 200px;
    }

    .prepend-6
    {
        padding-left: 240px;
    }

    .prepend-7
    {
        padding-left: 280px;
    }

    .prepend-8
    {
        padding-left: 320px;
    }

    .prepend-9
    {
        padding-left: 360px;
    }

    .prepend-10
    {
        padding-left: 400px;
    }

    .prepend-11
    {
        padding-left: 440px;
    }

    .prepend-12
    {
        padding-left: 480px;
    }

    .prepend-13
    {
        padding-left: 520px;
    }

    .prepend-14
    {
        padding-left: 560px;
    }

    .prepend-15
    {
        padding-left: 600px;
    }

    .prepend-16
    {
        padding-left: 640px;
    }

    .prepend-17
    {
        padding-left: 680px;
    }

    .prepend-18
    {
        padding-left: 720px;
    }

    .prepend-19
    {
        padding-left: 760px;
    }

    .prepend-20
    {
        padding-left: 800px;
    }

    .prepend-21
    {
        padding-left: 840px;
    }

    .prepend-22
    {
        padding-left: 880px;
    }

    .prepend-23
    {
        padding-left: 920px;
    }

    .border
    {
        padding-right: 4px;
        margin-right: 5px;
        border-right: 1px solid #eee;
    }

    .colborder
    {
        padding-right: 24px;
        margin-right: 25px;
        border-right: 1px solid #eee;
    }

    .pull-1
    {
        margin-left: -40px;
    }

    .pull-2
    {
        margin-left: -80px;
    }

    .pull-3
    {
        margin-left: -120px;
    }

    .pull-4
    {
        margin-left: -160px;
    }

    .pull-5
    {
        margin-left: -200px;
    }

    .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-5
    {
        float: left;
        position: relative;
    }

    .push-1
    {
        margin: 0 -40px 1.5em 40px;
    }

    .push-2
    {
        margin: 0 -80px 1.5em 80px;
    }

    .push-3
    {
        margin: 0 -120px 1.5em 120px;
    }

    .push-4
    {
        margin: 0 -160px 1.5em 160px;
    }

    .push-5
    {
        margin: 0 -200px 1.5em 200px;
    }

    .push-0, .push-1, .push-2, .push-3, .push-4, .push-5
    {
        float: right;
        position: relative;
    }

    .box
    {
        padding: 1.5em;
        margin-bottom: 1.5em;
        background: #E7EFF5;
    }

        .box td, .box th
        {
            padding: 0;
        }

    hr
    {
        background: #ddd;
        color: #ddd;
        clear: both;
        float: none;
        width: 100%;
        height: .1em;
        margin: 1em 0;
        border: none;
    }

        hr.space
        {
            background: #fff;
            color: #fff;
        }

        hr.clear
        {
            clear: both;
            line-height: 0;
            font-size: 0;
            height: 0;
            margin: 0;
            padding: 0;
            background: none;
        }

    .clearfix:after, .container:after
    {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }



    .gridlist-head
    {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ccc;
        font-weight: bold;
        line-height: 24px;
        height: 24px;
        white-space: nowrap;
        overflow: hidden;
        color: #000;
    }

    table.gridlist-head
    {
        border-bottom: none;
    }

    .gridlist-head th, .gridlist-head td
    {
        border-right: 1px solid #DBE2E7;
        border-left: 1px solid #fff;
        padding: 0 2px;
        text-align: left;
    }

    .gridlist-head .pointer
    {
        cursor: pointer;
    }

        .gridlist-head .pointer:hover
        {
            color: #f90;
            cursor: pointer;
        }

    .gridlist-head .highlight-up
    {
        cursor: pointer;
        color: #369;
        padding-left: 3px;
    }

    .gridlist-head .highlight-down
    {
        cursor: pointer;
        color: #369;
        padding-left: 3px;
    }

    .gridlist-head div.span-1, .gridlist-head div.span-2, .gridlist-head div.span-3, .gridlist-head div.span-4, .gridlist-head div.span-5, .gridlist-head div.span-6, .gridlist-head div.span-7, .gridlist-head div.span-8, .gridlist-head div.span-9, .gridlist-head div.span-10, .gridlist-head div.span-11, .gridlist-head div.span-12
    {
        border-right: 1px solid #DBE2E7;
        border-left: 1px solid #fff;
        margin: 0;
        padding: 0 2px;
        text-align: center;
    }

    .gridlist
    {
        border-top: 1px solid #EBEBEB;
    }

    table.gridlist
    {
        border: 1px solid #efefef;
        width: 100%;
        margin: 0;
    }

    .division td .gridlist
    {
        width: auto;
    }

    .gridlist thead th
    {
        font-size: 12px;
        padding: 1px 3px;
        height: 22px;
        line-height: 22px;
        border: 1px solid;
        border-color: #fff #DBE2E7 #ccc #fff;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        color: #000;
    }

    .gridlist-footer
    {
        border-top: 1px solid #CFD8DD;
        padding: 2px 0 3px;
    }

    .gridlist tbody td, .gridlist tbody th
    {
        text-align: center;
        border: 1px solid;
        border-color: #fff #DBE2E7 #ddd #fff;
        white-space: normal;
    }

    .gridlist div.span-1, .gridlist div.span-2, .gridlist div.span-3, .gridlist div.span-4, .gridlist div.span-5, .gridlist div.span-6, .gridlist div.span-7, .gridlist div.span-8, .gridlist div.span-9, .gridlist div.span-10, .gridlist div.span-11, .gridlist div.span-12
    {
        border-right: 1px solid #DBE2E7;
        border-left: 1px solid #fff;
        margin: 0;
        padding: 0 2px;
    }

    .highlight div.span-1, .highlight div.span-2, .highlight div.span-3, .highlight div.span-4, .highlight div.span-5, .highlight div.span-6, .highlight div.span-7, .highlight div.span-8, .highlight div.span-9, .highlight div.span-10, .highlight div.span-11, .highlight div.span-12
    {
        border: none;
        margin: 0;
        padding: 0 3px;
    }

    .gridlist-colChanger
    {
        border: 1px solid #ccc;
    }

    .gridlist .opt
    {
        display: block;
        padding: 3px 0;
        cursor: pointer;
        text-align: center;
    }

    .gridlist-tab
    {
        position: relative;
        background: #6F777A;
        margin: -20px 0 -1px 0;
        height: 23px;
        font-size: 13px;
        overflow: hidden;
        zoom: 1;
    }

        .gridlist-tab div
        {
            border-right: 1px solid #879397;
            border-left: 1px solid #879397;
            padding-left: 15px;
            height: 1em;
            line-height: 1em;
            margin: 5px -1px 0 0;
            white-space: nowrap;
            _width: 60px;
            float: left;
            cursor: pointer;
        }

            .gridlist-tab div span
            {
                padding-right: 15px;
            }

        .gridlist-tab a
        {
            font-weight: bold;
            text-decoration: none;
            color: #d3d3d3;
        }

            .gridlist-tab a:hover
            {
                color: #d3d3d3;
            }

        .gridlist-tab .cur
        {
            height: 24px;
            line-height: normal;
            margin: 0 1px 0 2px;
            border: none;
            cursor: default;
        }

            .gridlist-tab .cur span
            {
                display: block;
                height: 24px;
                color: #000;
                line-height: 23px;
                *line-height: 25px;
                font-weight: bold;
            }

        .gridlist-tab .nobl
        {
            border-left: none;
        }

        .gridlist-tab .nobr
        {
            border-right: none;
        }

    .row-line
    {
        cursor: default;
    }

    div.row
    {
        line-height: 24px;
        clear: both;
        white-space: nowrap;
        background-color: #F1F5FA;
        border-bottom: 1px solid #fff;
    }

        div.row .lnk
        {
            color: #369;
            margin: 0 2px;
        }

    div.highlight-row
    {
        font-weight: bold;
        background-color: #fff;
    }

    div.row:hover
    {
        background-color: #FFFFD4;
    }

    div.row div
    {
        overflow: hidden;
    }

        div.row div.span-relative
        {
            position: relative;
            overflow: visible;
        }

    div.row .row-line
    {
        height: 24px;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
    }

    div.highlight .row-line
    {
        border-bottom: 0;
    }

    .footer
    {
        border-top: 1px solid #CFD8DD;
        padding: 0 0 3px;
        text-align: center;
    }

        .footer .table-action
        {
            width: auto;
            margin: 0 auto;
        }

    fieldset
    {
        padding: 1.4em;
        margin: 0 0 1.5em 0;
        border: 1px solid #ccc;
    }

    legend
    {
        font-weight: bold;
        font-size: 1.2em;
    }

    input.text, input.title
    {
        width: 200px;
        padding: 2px;
        font-size: 1em;
    }

    textarea
    {
        padding: 5px;
        font-size: 1em;
    }

    input.shadow
    {
        background: #FFF url(../images/inputbox-bg.gif) no-repeat 0 0;
        border-color: #7C7C7C #CECECE #C3C3C3 #7C7C7C;
        border-style: solid;
        border-width: 1px;
        font-family: verdana;
        padding: 2px;
    }

    .tableform
    {
        background: #efefef;
        margin: 10px;
        padding: 5px;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #bec6ce;
        border-bottom: 1px solid #bec6ce;
    }

        .tableform h2 span
        {
            color: #777;
            font-weight: normal;
        }

        .tableform h3 span
        {
            font-weight: normal;
            float: right;
        }

        .tableform .assis
        {
            font-weight: normal;
            color: #000;
        }

        .tableform h3 span a
        {
            color: #777;
            font-weight: normal;
        }

        .tableform .division td a
        {
            padding: 2px 5px 0 5px;
            margin: 0 3px;
            color: #000;
            line-height: 20px;
        }

        .tableform .intro
        {
            color: #369;
            padding-left: 15px;
        }

    .widgetconfig
    {
        margin:10px 0;
    }

        .widgetconfig .division
        {
            margin: 0 0 10px 0;
        }

        .widgetconfig th
        {
            width: 20%;
            padding: .3em 0 0 0;
        }

        .widgetconfig h4
        {
            padding: 5px;
            color: #036;
            font-size: 1em;
        }

    .FloatForm ul li
    {
        float: left;
        margin: 3px 20px 3px 0;
    }

    .FloatTableData
    {
        border: 1px solid #ccc;
        float: left;
        width: 170px;
        margin: 5px;
    }

        .FloatTableData th, .FloatTableData td
        {
            padding: 3px;
            white-space: nowrap;
        }

        .FloatTableData th
        {
            text-align: right;
        }

        .FloatTableData .image
        {
            height: 120px;
            text-align: center;
        }


    .sysiconBtn
    {
        margin: 0;
        padding: 0;
        margin: 1px 3px 0 0;
        padding: 4px 4px 2px 20px;
        line-height: 24px;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        border-right: 2px solid #bec6ce;
        border-bottom: 2px solid #bec6ce;
        outline: none;
        display: inline;
        font-weight: normal;
        cursor: pointer;
    }

    .addorder
    {
    }