<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>

        爱分享文章列表
    </title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.content.css}" />
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.8.3.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <link href="../../resource/3rdParty/omTabs/themes/default/operamasks-ui.min.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/omTabs/themes/default/operamasks-ui.min.css}"/>
    <script src="../../resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js"
            th:src="@{/resource/3rdParty/jqueryui/jquery-ui-1.8.20.min.js}"></script>
    <link href="../../resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"
          th:href="@{/resource/3rdParty/jqueryui/jquery-ui-1.10.3.custom.min.css}"/>
    <script src="../../resource/3rdParty/Knockout/knockout-2.3.0.js"
            th:src="@{/resource/3rdParty/Knockout/knockout-2.3.0.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var _oldCass = ''
        $(function () {
            var authority = "";
            if (authority != "") {
                $(".aucontrol").hide();
            }

            $('tr').mouseover(function () {
                _oldCass = this.className;
                this.className = 'over';
            }).mouseout(function () {
                this.className = _oldCass;
            });

        });

        function showList(statu) {
            if (statu == 0) {
                $("#ddlShipStatusddlShipStatus").attr("value", -1);
                $('#form1').submit();
            } else if (statu == 2) {
                $("#ddlShipStatus").attr("value", 0);
                $('#form1').submit();
                //$('.aparent3').parent().toggleClass('om-state-default om-corner-top  om-tabs-activated om-state-active');
            } else if (statu == 3) {
                $("#ddlShipStatus").attr("value", 1);
                $('#form1').submit();
            } else if (statu == 4) {
                $("#ddlShipStatus").attr("value", 4);
                $('#form1').submit();
            }
        }
        function searchOrder() {
            $('#btnSearch').click();
        }

        function searchOrderAll() {
            $('#btnSearchAll').click();
        }
        /*]]>*/
    </script>
    <style type="text/css">
        .over {
            background-color: #00ff21;
        }

        .p_prt, .p_prted {
            cursor: pointer;
            width: 17px;
            height: 18px;
            display: inline-block;
            display: -moz-inline-stack;
            line-height: 18px;
            vertical-align: top;
            text-align: left;
            margin: 2px 0 0 0;
            color: #000;
            font-weight: 400;
        }
    </style>
    <script type="text/javascript">
        /*<![CDATA[*/
        //#region 选择行助手
        var checkBoxHelper = {};
        checkBoxHelper.init = function () {
            $('input[name="chkOrder"]').click(function () {
                checkBoxHelper.checkSingle(this);
            });
            $('#btnCancelSelect').click(function () {
                checkBoxHelper.clearChecked();
            });

            $('#btnCheckAll').click(function () {
                checkBoxHelper.checkAll(true);
            });

            $("#chkPageAll").click(function () {
                checkBoxHelper.checkPageAll(this.checked);
            });

            checkBoxHelper.checkSelectedItem();
            checkBoxHelper._toggleSelectedNote();
        };
        checkBoxHelper.checkPageAll = function (flg) {//选中当前页面

            $('input[name="chkOrder"]').each(function () {

                if (flg && this.checked == false) {
                    checkBoxHelper._addItem(this.value);
                }
                if (flg == false && this.checked) {
                    checkBoxHelper._removeItem(this.value);
                }
                this.checked = flg;
            });
            checkBoxHelper._toggleSelectedNote();
        };

        checkBoxHelper.checkAll = function (flg) {//选中所有
            $.ajax({
                type: "get",
                url: '',
                dataType: "json",
                success: function (result) {
                    checkBoxHelper._updateItems(result.join('|'));
                    checkBoxHelper._toggleSelectedNote();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    jBox.closeTip();
                    alert('提交失败，请重试');
                }
            });

            $('input[name="chkOrder"]').each(function () {
                this.checked = true;
            });
        };

        checkBoxHelper.checkSingle = function (dom) {
            //alert(dom.checked + ',' + dom.value);
            if (dom.checked) {
                this._addItem(dom.value);
            } else {
                this._removeItem(dom.value);
            }
            this.onCheckSingle();
        };

        checkBoxHelper.onCheckSingle = function () {
            this._toggleSelectedNote();
        };

        checkBoxHelper._toggleSelectedNote = function () {
            var idList = this._getItems();
            if (idList == '') {
                $('#trSelectNote').hide();
                return false;
            }
            var arrIds = idList.split('|');
            if (arrIds.length > 0) {
                $('#trSelectNote').show();
                $('#spSelectedNum').html(arrIds.length);
            } else {
                $('#trSelectNote').hide();
            }
        };

        checkBoxHelper.checkSelectedItem = function () {//选中已经选择的元素
            var idList = this._getItems();
            if (idList == '') return false;
            var pageAllChecked = true;
            $('input[name="chkOrder"]').each(function () {
                if (('|' + idList + '|').indexOf('|' + this.value + '|') != -1) {
                    this.checked = true;
                } else {
                    pageAllChecked = false;
                }
            });
            if (pageAllChecked) {
                $("#chkPageAll").attr('checked', 'checked');
            }
        };

        checkBoxHelper.isAllChecked = function () {//是否全部选中

        };

        checkBoxHelper.clearChecked = function () {//清除选中
            checkBoxHelper._clearItems();
            $('input[name="chkOrder"]').each(function () {
                this.checked = false;
            });
            $('#chkPageAll').removeAttr('checked');
            this._toggleSelectedNote();
        };

        var CHECKKEY = "OrderToExport";

        checkBoxHelper._addItem = function (id) {
            if (!this._existItem(id)) {
                var idList = this._getItems();
                if (idList != '') {
                    idList += '|' + id;
                } else {
                    idList = id;
                }
                this._updateItems(idList);
            }
        };

        checkBoxHelper._removeItem = function (id) {
            if (this._existItem(id)) {
                var idList = this._getItems();
                idList = '|' + idList + '|';
                idList = idList.replace('|' + id + '|', '');
                this._updateItems(idList);
            }
        };

        checkBoxHelper._getItems = function () {
            return unescape(J.GetCookie(CHECKKEY));
        };

        checkBoxHelper._updateItems = function (ids) {
            ids = ids.replace(/^\|/g, "").replace(/\|$/g, "");
            J.SetCookie(CHECKKEY, ids);
        }

        checkBoxHelper._existItem = function (id) {
            var idList = this._getItems();
            idList = '|' + idList + '|';
            if (idList.indexOf('|' + id + '|') != -1) {
                return true;
            }
            return false;
        };

        checkBoxHelper._clearItems = function () {
            J.RemoveCookie(CHECKKEY);
        };
        //#endregion

        //#region 导出助手
        var exportHelper = {};
        exportHelper.init = function () {
            $('.OnlyNum').OnlyNum();
        };


        exportHelper.checkPage = function (txtBeginPage, txtEndPage) {
            var numberBug = parseInt($("#numberBug").val());//总页数
            if (txtBeginPage == '' || txtEndPage == '') {
                return {flag: false, msg: '请输入正确的起止页码'};
            }
            var beginPage = parseInt(txtBeginPage);
            var endPage = parseInt(txtEndPage);
            if (endPage < beginPage) {
                return {flag: false, msg: '结束页不能小于起始页'};
            }
            if (endPage > numberBug) {
                return {flag: false, msg: '结束页不能大于总页数'};
            }
            var _maxPage = 500;
            if (endPage - beginPage >= _maxPage) {
                $('#txtEndPage').focus().select();
                return {flag: false, msg: '最多导出' + _maxPage + '页'};
            }
//            return {flag: true, msg: ''};
            return {flag: true};
        };

        exportHelper.showDialogV2 = function () {
            var txtBeginPage = $("#txtBeginPage").val();
            var txtEndPage = $("#txtEndPage").val();

            var chkResult = this.checkPage(txtBeginPage, txtEndPage);
            if (!chkResult.flag) {
                jBox.tip(chkResult.msg, 'info');
                return;
            }


//
//            var numberBug = Number($("#numberBug").val());//最大页数
//
//            if(Number(txtBeginPage) < 1 ){
//                jBox.tip('起始页从1开始！', 'info');
//                return
//            }
//            if( Number(txtEndPage) < Number(txtBeginPage)){
//                jBox.tip('起始页不能大于末页！', 'info');
//                return
//            }
//            if(Number(txtEndPage) > numberBug){
//                jBox.tip('末页不能大于最大页数！', 'info');
//                return
//            }

            var txtOrderId = $("#txtOrderId").val();
//            var txtShipName = $("#txtShipName").val();
//            var txtShipMobile = $("#txtShipMobile").val();

            var ddlShipStatus = $("#ddlShipStatus").val();
            var ddlPayStatus = $("#ddlPayStatus").val();
            var ddlOrderByField = $("#ddlOrderByField").val();
            var raSortType_0 = $("#raSortType_0").val();
            var txtBeginTime = $("#txtBeginTime").val();
            var txtEndTime = $("#txtEndTime").val();

            var txtEndPaytime = $("#txtEndPaytime").val();
            var txtBeginPaytime = $("#txtBeginPaytime").val();

            var customerId = $("#customerId").val();
            if (customerId == "" || customerId == undefined) {
                jBox.tip('customerId 无法获取， 请检查！', 'info');
                return
            }

            var url = 'OrderExportV2?rnd=' + Math.random()
                            + '&customerId=' + customerId
                            + '&txtOrderId=' + txtOrderId
//                    +'&txtShipName=' + txtShipName
//                    +'&txtShipMobile=' + txtShipMobile
                            + '&ddlShipStatus=' + ddlShipStatus
                            + '&ddlPayStatus=' + ddlPayStatus
                            + '&ddlOrderByField=' + ddlOrderByField
                            + '&raSortType_0=' + raSortType_0
                            + '&txtBeginTime=' + txtBeginTime
                            + '&txtEndTime=' + txtEndTime
                            + '&txtEndPaytime=' + txtEndPaytime
                            + '&txtBeginPaytime=' + txtBeginPaytime
                            + '&txtBeginPage=' + txtBeginPage
                            + '&txtEndPage=' + txtEndPage
                    ;

            J.PopupIFrame(url, "选择导出模版", 330, 230, "ifrm", "", "auto", "");
        };

        exportHelper.showSupplierDialogV2 = function () {
            var chkResult = this.checkPage();
            if (!chkResult.flag) {
                jBox.tip(chkResult.msg, 'info');
                return;
            }
            var url = 'OrderExportSupplierV2.aspx?customerid=5&rnd=' + Math.random();

            J.PopupIFrame(url, "导出供货商子订单", 280, 230, "export", {"导出": true}, "auto", "", function (result) {
                //alert(result);
            });
        };

        exportHelper.showDialog = function () {
            if (checkBoxHelper._getItems() == '') {
                jBox.tip('没有选择要导出的项', 'info');
                return false;
            }
            var url = 'OrderExport.aspx?customerid=5&rnd=' + Math.random();

            J.PopupIFrame(url, "导出", 280, 240, "export", {"导出": true}, "auto", "", function (result) {
                //alert(result);
            });
        };

        exportHelper.showSupplierDialog = function () {
            if (checkBoxHelper._getItems() == '') {
                jBox.tip('没有选择要导出的项', 'info');
                return false;
            }
            var url = 'OrderExportSupplier.aspx?customerid=5&rnd=' + Math.random();

            J.PopupIFrame(url, "导出供货商子订单", 280, 200, "export", {"导出": true}, "auto", "", function (result) {
                //alert(result);
            });
        };
        //#endregion

        function showBatchDeliverySupplier() {
            var url = 'OrderBatchDeliverySupplier.aspx?customerid=5&rnd=' + Math.random();
            J.PopupIFrame(url, "供货商订单批量发货", 370, 180, "batchdelivery", null, "auto", "", function (result) {
                //alert(result);
            });
        }

        $(function () {
            checkBoxHelper.init();
            exportHelper.init();

            if (0 == 0) {
                $(".shipFunc").hide();
            }
        });

        var viewModel;
        /*]]>*/
    </script>
</head>
<body marginwidth="0" marginheight="0">
<div id="buddy_list_dialog" style="display: none;">
    <input type="hidden" id="aid"/>
    <input type="hidden" id="customerId" th:value="*{customerId}"/>
    <input type="hidden" id="supplierId" th:value="*{supplierId}"/>

    <div class="search block" style="width: 550px; min-width: 550px;">
        <div class="h">
            <span class="icon-sprite icon-magnifier"></span>

            <h3>快速搜索</h3>
        </div>
        <div class="tl corner">
        </div>
        <div class="tr corner">
        </div>
        <div class="bl corner">
        </div>
        <div class="br corner">
        </div>
        <div class="cnt-wp">
            <div class="cnt">
                <div class="search-bar">
                    <div style="border: 1px solid #ccc; height: 30px; line-height: 30px; padding: 5px;">
                        <label class="first txt-green">
                            搜索类型：
                            <select id="upderline_SearchType">
                                <option value="0">用户名</option>
                                <option value="1">姓名</option>
                            </select>
                            ：</label>
                        <input type="text" name="txtSearchKey" id="underline_searchKey" class="input-small"
                               style="width: 120px;" placeholder="关键词"/>
                        <label>
                            <a class="btn-lit btn-middle" style="color: rgb(255, 255, 255); margin-bottom: 3px;"
                               href="#" data-bind="click: buddySearch"><span>搜索</span></a></label>
                        <label>
                            <a class="btn-lit btn-middle" style="color: rgb(255, 255, 255); margin-bottom: 3px;"
                               href="#" data-bind="click: buddyShowAll"><span>显示所有</span></a></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cnt" style="width: 550px;">
        <table class="data-table even1" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr class="even">
                <th scope="col" style="width: 25%">用户名
                </th>
                <th scope="col" style="width: 25%">姓名
                </th>
                <th scope="col" style="width: 30%">注册时间
                </th>
                <th scope="col" style="width: 20%">

                </th>
            </tr>
            </tbody>
            <tbody data-bind="foreach: buddyList"></tbody>
        </table>
        <div style="width: 538px; border: 1px solid #ccc; padding: 5px; text-align: center;">
            <span data-bind="click: nextPage,text: pageIndex()==pageCount()?'已全部加载':'点击加载更多', style:{color: pageIndex()==pageCount()?'#ccc':'black'}"
                  style="color: rgb(204, 204, 204);">已全部加载</span>
        </div>
    </div>
</div>
<form method="get" action="getOrdersPage" id="form1" th:object="${searchCondition}">
    <!--<input hidden="hidden" id="pageNoStr" name="pageNoStr" th:value="*{pageNoStr}"/>-->
    <input hidden="hidden" id="pageNoStr" name="pageNoStr"/>

    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE"
               value=""/>
    </div>

    <div class="aspNetHidden">
        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION"
               value=""/>
    </div>
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block">
            <div class="h">
                <span class="icon-sprite icon-magnifier"></span>

                <h3>文章搜索</h3>

            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp">
                <div class="cnt">

                    <div class="search-bar">
                        <label class="first ">文章标题：</label>
                        <input name="txtOrderId" type="text" id="txtOrderId" class="input-small" style="width: 120px;"/>
                        <!--<input name="txtOrderId" type="text" th:value="*{txtOrderId}" id="txtOrderId" class="input-small" style="width: 120px;"/>-->

                        <br/>
                        <br/>

                        <label class="first ">类型：</label>
                        <select name="ddlPayStatus" id="ddlPayStatus">
                            <option selected="selected" value="-1">==所有==</option>
                            <option value="1">公司介绍</option>
                            <option value="2">自传故事</option>
                            <option value="3">学院介绍</option>
                            <option value="4">美容知识</option>
                        </select>


                        &nbsp;


                        <style type="text/css">
                            #raSortType label {
                                padding-left: 0px;
                            }
                        </style>
                        <span id="raSortType">
                            <input id="raSortType_0" type="radio" name="raSortType" value="0" checked="checked"/>
                            <label for="raSortType_0">倒序</label>
                            <input id="raSortType_1" type="radio" name="raSortType" value="1"/>
                            <label for="raSortType_1">顺序</label>
                        </span>

                        <br/>
                        <br/>

                        <label class="first ">发布时间：</label>

                        <input name="txtBeginTime" type="text" id="txtBeginTime" placeholder=" [开始日期]"
                               class="input-normal Wdate"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false})"/>
                        <input name="txtEndTime" type="text" id="txtEndTime" placeholder=" [结束日期]"
                               class="input-normal Wdate"
                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,minDate:'#F{$dp.$D(\'txtBeginTime\')}'})"/>

                        <br/>
                        <br/>

                        <!--<label class="first ">支付时间：</label>-->

                        <!--<input name="txtBeginPaytime" type="text" id="txtBeginPaytime" th:value="*{txtBeginPaytime}" placeholder=" [开始日期]"-->
                        <!--class="input-normal Wdate"-->
                        <!--onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false})"/>-->
                        <!--<input name="txtEndPaytime" type="text" id="txtEndPaytime" th:value="*{txtEndPaytime}" placeholder=" [结束日期]"-->
                        <!--class="input-normal Wdate"-->
                        <!--onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:false,minDate:'#F{$dp.$D(\'txtEndPaytime\')}'})"/>-->

                        <div style="display: none;">
                            <input type="submit" name="btnSearch" value="" id="btnSearch"/>
                            <input type="submit" name="btnSearchAll" value="" id="btnSearchAll"/>
                        </div>
                        <label><a class="btn-lit btn-middle" id="search" href="javascript:searchOrder();"
                                  style="margin-bottom: 3px;"><span>搜索</span></a></label>
                        <label><a class="btn-lit btn-middle" id="searchAll" href="javascript:searchOrderAll();"
                                  style="margin-bottom: 3px;"><span>显示全部</span></a></label>

                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="blank10">
        </div>
        <div class="block">
            <div class="h">
                <span class="icon-sprite icon-list"></span>

                <h3 style="float: left; width: 144px;">文章管理 </h3>

                <div class="bar">
                    <!--
                    <a class="btn-lit aucontrol" href='javascript:exportHelper.showDialog();'>
                        <span>导出主订单</span></a>

                    <a class="btn-lit aucontrol" href='javascript:exportHelper.showSupplierDialog();' style='display:none;'>
                        <span>导出供货商子订单</span></a>
                    |
                    <a class="btn-lit aucontrol" href="javascript:showBatchDelivery();">
                        <span>批量发货</span></a>
                        -->

                    <a class="btn-lit aucontrol" href="javascript:showBatchDelivery();">
                        <span>添加文章</span></a>
                </div>

            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp">

                <div id="Div1" class="om-tabs om-widget om-widget-content om-corner-all" style="height: auto;">
                    <div class="om-tabs-headers om-helper-reset om-helper-clearfix om-widget-header om-corner-all header-no-border"
                         style="height: 28px;">
                        <ul style="height: 28px; line-height: 28px;">
                            <span class="left-placeholder"></span>
                            <li class="om-state-default om-corner-top  " id="ddgl1">
                                <span class="lileft"></span><a href="javascript:showList(0);" class="om-tabs-inner" style="width: auto; height: 27px;">全部</a><span class="liright"></span>
                            </li>
                            <li class="om-state-default om-corner-top " id="ddgl2"><span class="lileft"></span><a
                                    href="javascript:showList(2);" class="om-tabs-inner"
                                    style="width: auto; height: 27px;">公司介绍</a><span class="liright"></span></li>

                            <li class="om-state-default om-corner-top" id="ddgl3"><span class="lileft">
                            </span><a
                                    href="javascript:showList(3);" class="om-tabs-inner"
                                    style="width: auto; height: 27px;">自传故事</a><span class="liright"></span></li>

                            <li class="om-state-default om-corner-top" id="ddgl4"><span class="lileft"></span><a
                                    href="javascript:showList(4);" class="om-tabs-inner"
                                    style="width: auto; height: 27px;">学院介绍</a><span class="liright"></span></li>

                            <li class="om-state-default om-corner-top" id="ddgl5"><span class="lileft"></span><a
                                    href="javascript:showList(5);" class="om-tabs-inner"
                                    style="width: auto; height: 27px;">美容知识</a><span class="liright"></span></li>


                            <span class="right-placeholder"></span>
                        </ul>
                    </div>
                    <div class="om-tabs-panels om-widget-content om-corner-bottom">

                        <div class="om-widget om-panel ">
                            <div id="Div2"
                                 class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                                <div class="cnt">
                                    <table class="data-table even1" width="100%" border="0"
                                           cellspacing="0"
                                           cellpadding="0">
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">文章标题
                                            </th>
                                            <th scope="col">发布人
                                            </th>

                                            <th scope="col">发布时间
                                            </th>

                                            <th scope="col">浏览量
                                            </th>

                                            <th scope="col">转发次数
                                            </th>

                                            <th scope="col">操作
                                            </th>
                                        </tr>
                                        <tr style="background: #FFC; text-align: center; display: none;"
                                            id="trSelectNote">
                                            <td colspan="11">您当前选定了<span id="spSelectedNum">20条</span>记录，<a
                                                    href="javascript:void(0);" id="btnCancelSelect">点此取消选定</a>。<a
                                                    href="javascript:void(0);" id="btnCheckAll">点此选定全部</a> 的<span
                                                    id="spAllSelectedNum">25</span>条记录
                                            </td>
                                        </tr>
                                        <tbody th:remove="all-but-first" id="o1">

                                        <!--@thymesVar id="ordersList" type="java.util.List<com.huotu.hotsupplier.sup.service.entity.order.Orders>"-->
                                        <tr th:each="orders:${ordersList}" class="even">
                                            <td class="txt20 c" style="width: 15px;" th:text="${ordersStat.count}">
                                                1
                                            </td>
                                            <td class="txt40" th:text="${orders.orderId}">
                                                2015092173663935&nbsp;
                                            </td>
                                            <td class="txt80" hot:date="${orders.createTime}">
                                                2015/9/21 20:18:01
                                            </td>
                                            <td class="txt80">
                                                <span style='text-align:center;color:#ccc;padding-left:20px;' hot:date="${orders.payTime}">——无——</span>
                                            </td>
                                            <td class="txt20">￥
                                                <span th:text="${orders.finalAmount}">100</span>
                                            </td>
                                            <td class="txt20" th:text="${orders.shipName}">
                                                asdf
                                            </td>
                                            <td class="txt40" th:text="${orders.payStatus.value}">
                                                未支付
                                            </td>
                                            <td class="txt40" th:text="${orders.shipStatus.value}">
                                                未发货
                                            </td>
                                            <td class="txt40" th:text="${orders.payment.value}">
                                                银联在线支付
                                            </td>
                                            <td class="txt40 c tail">
                                                <div th:inline="text">
                                                    <!--@thymesVar id="orders" type="com.huotu.hotsupplier.sup.service.entity.order.Orders"-->
                                                    <a th:attr="orderId=''+${orders.orderId}" onclick="showConsignFlow(this)" id="btnConsignFlow" title="发货" th:if="${orders.deliveryable()}">发货</a>
                                                    <a th:attr="orderId=''+${orders.orderId}" onclick="showConsignFlow(this,1)" title="退货" th:if="${orders.returnable()}">退货</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <!-- <td class="txt20 c" style="width: 15px;">
                                                 <input type="checkbox" name="chkOrder" value="2015092161656366" />
                                             </td>-->
                                            <td class="txt20 c" style="width: 15px;">
                                                2
                                            </td>
                                            <td class="txt40">
                                                2015092161656366&nbsp;
                                                <span style='color:red;'>（已关闭）</span>
                                            </td>
                                            <td class="txt80">
                                                2015/9/21 20:16:06
                                                <br/>
                                                <span style="color: #ccc; padding-left: 5px;">(3天16小时前)</span>
                                            </td>
                                            <td class="txt80">
                                                <span style='text-align:center;color:#ccc;padding-left:20px;'>——无——</span>
                                                                <span style="display: none">
                                                                    <br/>
                                                                    <span style="color: #ccc; padding-left: 5px;">(下单支付)</span>
                                                                </span>
                                            </td>

                                            <td class="txt20">￥
                                                100
                                            </td>

                                            <td class="txt20">
                                                asdf
                                            </td>

                                            <td class="txt40">
                                                未支付
                                            </td>
                                            <td class="txt40">
                                                未发货
                                            </td>

                                            <td class="txt40">
                                                银联在线支付
                                            </td>

                                            <td class="txt40 c tail">
                                                <a href="javascript:handleOrder('2015092161656366')">操作订单</a>

                                                <div>

                                                    <a class="p_prted" target="_blank"
                                                       href="../Print/ShopOrder.aspx?orderid=2015092161656366"
                                                       title="购买清单打印">购</a>
                                                    <a class="p_prted" target="_blank"
                                                       href="../Print/DeliveryOrder.aspx?orderid=2015092161656366"
                                                       title="配货清单打印">配</a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pager-bar">
                                    <div class="msg">共<input th:value="0"
                                                             style='border-left:0px;border-top:0px;border-right:0px;border-bottom:1px;width:20px; '
                                                             type="text"/>条记录，
                                        当前第
                                        <input th:value="1"
                                               style='border-left:0px;border-top:0px;border-right:0px;border-bottom:1px;width:20px; '
                                               type="text" id="noNumber"/>
                                        /
                                        <input th:value="0"
                                               style='border-left:0px;border-top:0px;border-right:0px;border-bottom:1px;width:20px; '
                                               type="text" id="numberBug"/>，
                                        每页20条记录
                                    </div>
                                    <a class="button-white" href="javascript:queryForst()"><span>首页</span></a>
                                    <a class="button-white"
                                       href="javascript:queryUp(-1)"
                                            >
                                        <span>上一页</span></a>
                                    <a class="button-white"
                                       href="javascript:queryVoid(1)"
                                            >
                                        <span>下一页</span></a>
                                    <a class="button-white" href="javascript:queryLast()">
                                        <span>未页</span>
                                    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第<input id="current-index"
                                                                              onkeydown="J.EnterSubmit(event, Pager.Jump);"
                                                                              class="input-small"
                                                                              style="text-align:center;" type="text"
                                                                              value="1" th:value="4"/>页&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="button-white" href="javascript:goToNo();"><span>跳转</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script th:inline="javascript">
    /*<![CDATA[*/
    function showBatchDelivery() {
        var customerId = $("#customerId").val();
        if (customerId == "" || customerId == undefined) {
            jBox.tip('customerId 无法获取， 请检查！', 'info');
            return
        }
        var url = 'showBatchDelivery?customerId=' + customerId;
        J.PopupIFrame(url, "发货操作", 370, 220, "ifrm", "", "auto", "");
    }

    function showConsignFlow(obj, type) {//发货
        var orderId = $(obj).attr("orderId");
        var title = "发货操作";
        if (type == 1) {
            title = "退货操作";
        }
        var url = 'showConsignFlow?orderId=' + orderId;
        J.PopupIFrame(url, title, 900, 480, "ifrm", "", "auto", "");
    }
    ;
    function searchOrder() {
        $('#form1').submit();
    }
    function queryVoid(no) {//下页
        var size = 0;
        size = Number($("#noNumber").val()) + Number(no);//前往的页数
        var numberBug = Number($("#numberBug").val());//最大页数
        if (size > numberBug) {
            size = numberBug;
        }
        $("#pageNoStr").attr("value", size);
        $('#form1').submit();
    }
    function queryUp(no) {//上页
        var size = 0;
        size = Number($("#noNumber").val()) + Number(no);//前往的页数
        var numberBug = Number($("#numberBug").val());//最大页数
        if (size > numberBug) {
            size = numberBug;
        }
        if (size < 0) {
            size = 0;
        }
        $("#pageNoStr").attr("value", size);
        $('#form1').submit();
    }
    function queryForst() {//首页
        var size = 1;
        $("#pageNoStr").attr("value", 0);
        $('#form1').submit();
    }
    function queryLast() {//尾页
        var numberBug = Number($("#numberBug").val());//最大页数
        $("#pageNoStr").attr("value", numberBug);
        $('#form1').submit();
    }
    function goToNo() {
        var size = Number($("#current-index").val());
        var numberBug = Number($("#numberBug").val());//最大页数
        if (size > numberBug) {
            size = numberBug;
        }
        $("#pageNoStr").attr("value", size);
        $('#form1').submit();
    }
    function searchOrderAll() {
        $("#txtOrderId").attr("value", "");
        $("#txtShipName").attr("value", "");
        $("#txtShipMobile").attr("value", "");

        $("#ddlShipStatus").attr("value", -1);
        $("#ddlPayStatus").attr("value", -1);
        $("#ddlOrderByField").attr("value", 0);
        $("#raSortType_0").attr("value", 0);


        $("#txtBeginTime").attr("value", "");
        $("#txtEndTime").attr("value", "");

        $("#txtEndPaytime").attr("value", "");
        $("#txtBeginPaytime").attr("value", "");
        $('#form1').submit();
    }
    function createRight() {//左页面点击事件
        searchOrderAll();
    }
    /*]]>*/
</script>
</body>
</html>