<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>增加文章</title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.4.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.4.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../resource/css/settlements.css"
          th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" th:inline="javascript">
    function showList(statu) {
    if (statu == 0) {
    $("#ddlShipStatus").attr("value", -1);
    $('#form1').submit();
    } else if (statu == 2) {
    $("#ddlShipStatus").attr("value", 0);
    $('#form1').submit();
    //$('.aparent3').parent().toggleClass('om-state-default om-corner-top  om-tabs-activated om-state-active');
    } else if (statu == 3) {
    $("#ddlShipStatus").attr("value", 1);
    $('#form1').submit();
    } else if (statu == 4) {
    $("#ddlShipStatus").attr("value", 4);
    $('#form1').submit();
    }
    }
    </script>
</head>

<body>
<form method="get" action="settlements" id="form1">
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block" style="display: block;">
            <div class="h">
      <span class="icon-sprite icon-magnifier">
      </span>
                <h3>文章编辑后台</h3>
            </div>
            <div class="cnt-wp" style="padding: 35px 10px 10px;">
                <div id="make-tab" class="cnt om-tabs om-widget om-widget-content om-corner-all" style="width: auto; height: auto;">

                    <!-- 以下是页卡-->

                    <!-- 页卡结束-->



                    <!-- 以下设置表单-->
                    <div class="om-tabs-panels om-widget-content om-corner-bottom">
                        <div class="om-widget om-panel">
                            <div id="tab0" class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                                <div class="division">

                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <th>文章标题:</th>
                                            <td style="width:41.5%;     border-top: 1px solid #ddd;"><span id="lblOrderId" >
                        </span>
                                                <input name="txtCatName" type="text" id="txtCatName" class="input-normal" placeholder=""/></td>
                                            <th>关闭外链:</th>
                                            <td style="    border-top: 1px solid #ddd;">
                                                <div>
                                                    <label>
                                                <input name="RadioGroup1" type="radio" id="RadioGroup1_0" style="vertical-align: text-top;" value="单选" checked="checked"/>
                                                关闭</label>

                                            </div></td>
                                        </tr>
                                        <p style="clean:both;">
                                        </p>
                                        <tr>
                                            <th></th>
                                            <td>
                                                </td>
                                            <th>开启外链:</th>
                                            <td>
                                                <label><input type="radio" name="RadioGroup1" value="单选" id="RadioGroup1_1" style="
    vertical-align: text-top;
"/>
                                                链接</label>
                                                <input name="txtCatName" type="text" id="txtCatName1" class="input-normal" placeholder="默认关闭外链" style="text-align:center;"/></td>
                                        </tr>
                                        <tr>
                                            <th>封面:</th>
                                            <td><div id="uploadpicCover" style="width: 80px; height: 80px; border: 1px solid #ccc; float: left; background: #efefef; line-height: 80px; text-align: center; color: #ccc;"> 未上传 </div>
                                                <div style="margin-left: 10px; float: left; line-height: 80px;padding-top: 30px;">
                                                    <a id="uploadpic" class="btn-lit jUploader-button" href="#" style="cursor: pointer; position: relative; overflow: hidden; direction: ltr;">
                        <span style="color: #c1b3a9">
                        上传
                        </span>
                                                        <input type="file" onchange="this.blur();" id="jUploader-file1" name="jUploaderFile" style="position: absolute; right: 0px; top: 0px; margin: 0px; opacity: 0; padding: 0px; font-family: Arial; font-size: 118px; vertical-align: baseline; cursor: pointer;"/>
                                                    </a>
                                                </div>
                                                <input name="txtReplyUrl1" type="hidden" id="txtReplyUrl1" value="/resource/images/wechat/mall_cat_def.png"/></td>
                                            <th>内容:</th>
                                            <td>
                                                <span><textarea maxlength="" class="input-normal" style=" width: 393px; height: 76px;"></textarea>
                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 设置表结束-->



                <!--以下是按钮-->
                <div style="text-align: center; margin-top:12px" >
                    <!--<a class="btn-lit" href="javascript:submitForm();" style=" margin-right:10px;">-->
        <!--<span>-->
        <!--保存到草稿箱-->
        <!--</span>-->
                    <!--</a>-->
                    <a class="btn-lit" href="javascript:submitForm();">
        <span>
       进行发布
        </span>
                    </a>
                </div>
                <!--按钮结束-->

            </div>
        </div>
        </div>
        </div>
</form>

</body>
</html>
