<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>积分配置</title>
    <link href="../../resource/3rdParty/css/admin.global.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.global.css}"/>
    <link href="../../resource/3rdParty/css/admin.content.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/css/admin.content.css}"/>
    <link href="../../resource/css/settlements.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/css/settlements.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery-1.4.2.min.js"
            th:src="@{/resource/3rdParty/js/jquery-1.4.2.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/jquery.utils.js"
            th:src="@{/resource/3rdParty/js/jquery.utils.js}"></script>
    <link href="../../resource/3rdParty/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resource/3rdParty/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resource/3rdParty/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resource/3rdParty/jBox/jquery.jBox-2.3.min.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/js/admin.js"
            th:src="@{/resource/3rdParty/js/admin.js}"></script>
    <script type="text/javascript" src="../../resource/3rdParty/My97DatePicker/WdatePicker.js"
            th:src="@{/resource/3rdParty/My97DatePicker/WdatePicker.js}"></script>
    <script type="text/javascript" src="../../resource/js/confirm.js"
            th:src="@{/resource/js/confirm.js}"></script>

</head>


<body onload="firstLoad()">

<form method="post" th:action="@{modifyInvoiceConfig}" id="form1" th:object="${invoiceConfig}"
      enctype="multipart/form-data">
    <div class="container">
        <div class="blank10">
        </div>
        <div class="search block" style="display: block;">
            <div class="h">
                <span class="icon-sprite icon-magnifier"></span>

                <h3>官方发布</h3>
            </div>
            <div class="tl corner">
            </div>
            <div class="tr corner">
            </div>
            <div class="bl corner">
            </div>
            <div class="br corner">
            </div>
            <div class="cnt-wp" style="padding: 35px 10px 10px;">
                <div id="make-tab" class="cnt om-tabs om-widget om-widget-content om-corner-all"
                     style="width: auto; height: auto;">

                    <div class="cnt" id="config1">

                    </div>
                    <div class="om-tabs-panels om-widget-content om-corner-bottom" id="config2">
                        <div class="om-widget om-panel">
                            <div id="tab0" class="om-panel-body om-widget-content om-panel-noheader om-state-nobd">
                                <div class="division">
                                    <div>
                                    </div>
                                    <div>
                                    </div>
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>

                                        <tr>
                                            <th>中介费设置:</th>
                                            <td><span id="lblOrderId"></span>

                                            收取百分比
                                                <input name="companyName" type="text"
                                                       th:value="${invoiceConfig} == null ? '': ${invoiceConfig.companyName}"
                                                       id="companyName1" class="input-normal" placeholder=""/>
                                            中介费</td>
                                            <td>
                                            <div style="text-align: center;">
                                                <div style="display: none;">
                                                    <input type="submit" name="btnSave" value="" id="btnSave"/>
                                                </div>
                                                <a class="btn-lit" href="javascript:submitForm2();">
                                                    <span>保存修改</span>
                                                </a>
                                            </div>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="blank10">
            </div>
        </div>
    </div>
</form>

<!-- 邮寄地址-->
<div class="blank10"></div>


<script>
    //提交所填信息
    function submitForm1(obj) {
        var companyAddr = $("#companyAddr").val();
        var companyName = $("#companyName").val();
        var companyTel = $("#companyTel").val();
        var taxpayerCode = $("#taxpayerCode ").val();
        var bankName = $("#bankName ").val();
        var accountNo = $("#accountNo").val();
        var generalCertificateUrl = document.getElementById("generalCertificateFile").value;
        var taxRegistCertificateUrl = document.getElementById("taxRegistCertificateFile").value;
        var uploadpicCover3 = document.getElementById("uploadpicCover3").value;
        var uploadpicCover4 = document.getElementById("uploadpicCover4").value;
        if (companyAddr == "" || companyAddr == null) {
            $.jBox.tip("请填写公司地址");
            return;
        }
        if (companyName == null || companyName == "") {
            $.jBox.tip("请填写公司名称");
            return;
        }
        if (companyTel == null || companyTel == "") {
            $.jBox.tip("请填写注册电话");
            return;
        }
        if (taxpayerCode == "" || taxpayerCode == null) {
            $.jBox.tip("请填写纳税人识别码");
            return;
        }
        if (bankName == "" || bankName == null) {
            $.jBox.tip("请填写开户银行名称");
            return;
        }
        if (accountNo == "" || accountNo == null) {
            $.jBox.tip("请填写开户银行账号");
            return;
        }
        if (taxRegistCertificateUrl == null || taxRegistCertificateUrl == "") {
            if (uploadpicCover3 == null || uploadpicCover3 == "") {
                $.jBox.tip("请提交税务登记证");
                return;
            }
        }
        if (generalCertificateUrl == null || generalCertificateUrl == "") {
            if (uploadpicCover4 == null || uploadpicCover4 == "") {
                $.jBox.tip("请提交纳税人资格证");
                return;
            }
        }
        $.MsgBox.Confirm("友情提示", "即将保存内容，确定继续吗？", function () {
            $("#form1").submit();
        });

    }
    //提交普通发票
    function submitForm2(obj) {
        var companyAddr1 = $("#companyAddr1").val();
        var companyName1 = $("#companyName1").val();
        var companyTel1 = $("#companyTel1").val();
        if (companyAddr1 == "" || companyAddr1 == null) {
            $.jBox.tip("请填写公司名称");
            return;
        }
        if (companyName1 == null || companyName1 == "") {
            $.jBox.tip("请填写注册电话");
            return;
        }
        if (companyTel1 == null || companyTel1 == "") {
            $.jBox.tip("请填写注册地址");
            return;
        }
        $.MsgBox.Confirm("友情提示", "即将保存内容，确定继续吗？", function () {
            $("#form2").submit();
        });


    }


    //初始化进页面
    function firstLoad() {

        var i = $("#defaultType3").val();
        if (i == 0) {
            document.getElementById('defaultType1').checked = false;
            document.getElementById('defaultType2').checked = true;
            document.getElementById('form1').style.display = 'none';
            document.getElementById('form2').style.display = '';
            document.getElementById('form3').style.display = 'none';
            document.getElementById('RadioGroup4').checked = true;
        }
        if (i == 1) {
            document.getElementById('defaultType1').checked = true;
            document.getElementById('defaultType2').checked = false;
            document.getElementById('form1').style.display = '';
            document.getElementById('form2').style.display = 'none';
            document.getElementById('form3').style.display = 'none';
            document.getElementById('RadioGroup1').checked = true;
        }
    }
    //是否默认发票
    function check(type) {
        if (type == 1) {
            if (document.getElementById('defaultType1').checked == true) {
                document.getElementById('defaultType2').checked = false;
                $("#defaultType3").val("1");
                $("#defaultType4").val("1");
            }
            else {
                $("#defaultType3").val("0");
                $("#defaultType4").val("0");
            }


        }
        if (type == 2) {
            document.getElementById('defaultType1').checked = false;
            ;
            $("#defaultType3").val("0");
            $("#defaultType4").val("0");


        }
    }
</script>
</body>
</html>
